/*.cus-size { width: 650px; height: 650px; }*/
.multi-img-details{margin: 1em 0; padding: 0; }
.multi-img-details .multi-item {max-height: 130px; max-width: 150px; position: relative; float: left; margin-right: 18px; margin-bottom: .5em; text-align: center;}
.multi-img-details .multi-item em {    position: absolute;
    top: -5px;
    right: 10px;
    background-color: #ef0404;
    border-radius: 20px;
    width: 25px;
    height: 25px;
}
.cus-img {  width: 100px;height: 100px;  }
.delImage {position:absolute; top: 0px; right: -14px;}
.multi-img-details .multi-item .form-control{
    margin: 10px 0px;
}