/**
 * @author daorli<daorli@163.com>
 *
 * @time 2016.12.20 22:01
 */

/*popular */
/** {*/
	/*border:0;*/
	/*margin:0;*/
	/*padding:0;*/
  /*color: #666;*/
  /*font-family: Arial,"Microsoft Yahei";*/
	/*font-size: 12px;*/
  /*text-decoration: none;*/

/*}*/
/*body {*/
  /*min-width: 1280px;*/
/*}*/
ul,li {
  list-style:none
}
select, input, img, select {
vertical-align: middle;
}
input,button,textarea {
  -webkit-appearance:none;
  border-radius:0
}
div,span,section {
  padding: 0;
  margin: 0;
}
.clear {
  clear:both
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin: 0 auto;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.inblock {
  display: inline-block;
}
.hide {
  display: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mb10 {
  margin-bottom: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pl10 {
  padding-left: 10px;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}

.noPadding {
  padding : 0!important;
}

.noMargin {
  margin: 0!important;
}

.fullWidth {
  width: 100%;
}
/*  强制浏览器保持原有大小 */
.keep {
  -moz-box-sizing: border-box;    /*Firefox3.5+*/
  -webkit-box-sizing: border-box; /*Safari3.2+*/
  -o-box-sizing: border-box;      /*Opera9.6*/
  -ms-box-sizing: border-box;     /*IE8*/
  box-sizing: border-box;         /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
}

