@import "dl_style.css";
/* page ctrl style */
.pages{text-align: center;padding: 16px 20px;border-top: 1px solid #f4f4f4;margin: 20px;}
.pages a, .pages span {display: inline-block;border: 1px solid #ddd;line-height: 20px;min-width: 30px;margin: 0 5px;}
.pages .current {border-color: #f00;color: #f00}