@charset "UTF-8";

/*前台尾部 样式*/

.footer{background: #FAFAFA;text-align: center;padding: 40px 0;}
.footer .nav{
    width: 20%;
}
.footer .nav li{
}
.footer .nav li.li0{}
.footer .nav li a{font-size: 12px;}
.footer .nav li.li0 a{font-size: 16px;color: #333;}

.footer_copyright{font-size: 12px;color: #666;line-height: 40px;text-align: center;background: #fff;}
