@charset "utf-8";
/* CSS Document */
/*-------------------------全局属性--------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input
{margin:0;padding:0;color:#333333;}
body{width:100%;font-size:12px;font-family:微软雅黑,Arial, Helvetica, sans-serif, simsun,宋体;background: #f4f4f4;}
a, a:link, a:visited {text-decoration: none;}
a:hover{color: #ff2c2c;}
li{list-style:none;}
img{border:none;}
.clear{clear:both;}
/*-----------公共标题---------*/
.title_6r{height:42px;line-height:42px;position:relative;border-bottom:1px solid #eee;}
.title_6r h2{font-size:16px;margin-left:10px;}
.title_6r a{position:absolute;right:10px;top:0;font-size:14px;color:#0e90d2;}
/*-----------版头---------*/
#header{width:100%;position:fixed;top:0;background: #fff;height:50px;line-height:48px;text-align:center;z-index: 500;border-bottom: 1px solid #eee;}
#header .logo{height:24px;}
#header h1{font-size: 20px;font-weight: normal;}
#header .search{text-align:center;display: block;height:20px;line-height:20px;position:absolute;right:20px;top:15px;color:#fff;}
#header .return{text-align:center;display:block;line-height:50px;width:40px;position:absolute;left: 0;top:0;color: black;z-index:100;}
#header .notice{text-align:center;display:block;line-height:50px;width: 42px;position:absolute;right: 0;top:0;color:white;z-index:100;height: 50px;background: url(../images/img_my.png) center no-repeat;background-size: 30px 30px;}
#header .notice img{display:block;width: 24px;margin: 13px auto 0;}
#header .am-dropdown{display:block;}
#header .am-dropdown button{height:50px;background:0;font-size:22px;font-weight:bold;color:#fff;}
#header .am-dropdown button span{margin-left:5px;}
#header .product_search{}
#header .product_search .input{width: 78%;border: none 0;height: 28px;line-height: 28px;padding: 0 5px 0 40px;background: #eee url(../images/icon_search.png) 14px center no-repeat;background-size: auto 16px;border-radius: 30px;font-size: 13px;outline: none 0;}


/*首页搜索*/
#index_search{position: fixed;width: 100%;left: 0;top: 0;z-index: 1;padding: 10px 12px;background: rgba(255,44,44,.2);}
#index_search.hover{background-color: rgba(255,44,44,.9);}
#index_search .location{float: left;width: 20%;text-align: center;background: rgba(255,44,44,.5);color: #fff;border-radius: 30px;height: 30px;line-height: 30px;display: block;}
#index_search.hover .location{background:#fff;color: rgba(255,44,44,.9);}
#index_search .search{/* margin-left: 23%; */border-radius: 30px;height: 30px;line-height: 30px;background: #fff;padding: 0 3%;}
#index_search .search input{padding-left: 24px;border: none 0;outline: none 0;background: #fff url(../images/icon_search.png) 0 center no-repeat;background-size: auto 16px;height: 30px;line-height: 30px;display: block;}



/*-------------------------首页banner--------------------------*/
.banner{width:100%;}
.banner img{width:100%;}
.banner .am-control-nav{bottom:10px;}
.banner .am-slider-default{margin-bottom: 0;}
.am-slider-default .am-control-nav li a{background-color:#fff;}
.am-slider-default .am-control-nav li a.am-active{
    background: #ff6600;
}
/*首页导航*/
#index_nav{background: #fff; padding-bottom: 15px;}
#index_nav li{}
#index_nav li a{display: block;}
#index_nav li img{display: block;width: 50px;margin: 15px auto 10px;}
#index_nav li span{display: block;text-align: center;}

/*首页公告*/
#index_notice{margin-top: 6px;background: #fff url(../images/icon_notice.jpg) 10px center no-repeat;background-size: auto 20px;padding: 6px;padding-left: 30px;overflow: hidden;}
#index_notice .a{display: block;float: left;padding: 0 2px;border:1px solid #fe5c4b;color: #fe5c4b;margin-left: 10px;border-radius: 3px;line-height: 18px;margin-top: 4px;}
#index_notice ul li a{margin-left: 5px;}
#index_notice div{overflow:hidden;height: 28px;line-height: 28px;display: block;margin-left: 5px;float: left;}

/*首页秒杀*/
#index_secKill{margin-top: 6px;background: #fff;}
#index_secKill .title{border-bottom: 1px solid #efedf5;padding: 10px;}
#index_secKill .title a{float: right;display: block;background: #ee1811;color: #fff;height: 20px;line-height: 20px;border-radius: 20px;padding: 0 10px;}
#index_secKill .title p{background: url(../images/img_xsms.png) 0 center no-repeat;background-size: auto 18px;padding-left: 84px;color: #999;}
#index_secKill ul{padding: 6px;}
#index_secKill ul li{padding:5px;}
#index_secKill ul li a{display: block;}
#index_secKill ul li a img{display: block;width: 100%;}
#index_secKill ul li a p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#index_secKill ul li a >span{display: block;}
#index_secKill ul li a .s1{color: #ee1811;margin-right: 5px;font-size: 14px;}
#index_secKill ul li a .s2{color: #aaa;text-decoration: line-through;}

/*-------------------------热门商品--------------------------*/
#hot_goods{margin-top: 6px;overflow: hidden;background: #fff;}
#hot_goods am-avg-sm-3 {margin-bottom:10px;}
#hot_goods ul{border-bottom:1px solid #ddd;}
#hot_goods li{/border-left:1px solid #ddd;float: right;}
#hot_goods li:first-child{border:0; float: left;}
#hot_goods li img{width:100%;}
.hot_goods_left{float: left;width: 50%;box-sizing: border-box;border-right: 1px solid #ddd;}
.hot_goods_right{float: left;width: 50%;}
.hot_goods_left a,
.hot_goods_right a,
.hot_goods_left a img,
.hot_goods_right a img{display: block;width: 100%;}
.hot_goods_right a:last-child{border-top: 1px solid #ddd;}

/*-------------------------精选商品--------------------------*/

#selectgoods{background:white;margin-top: 6px;}
#selectgoods ul img{width:100%;height:185px;}
#selectgoods li{border-left:3px solid #eee;border-top:3px solid #eee;padding: 0;padding-bottom: 0.5rem;}
#selectgoods li a{display:block;}
#selectgoods p{padding-left:10px;padding-right:10px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 14px;margin-top: 5px;height: 28px;margin-bottom: 8px;}
#selectgoods span{float:left;padding-left:10px;color: #ff001e;font-size:14px;}
#selectgoods label{float:right;padding-right:10px;color: #999;}
#selectgoods .time{line-height: 40px;margin-bottom: 5px;background: #eee;height: 40px;font-size: 14px;}


/*-------------------------公共标题--------------------------*/
.public_title {line-height:50px;text-align: center;font-size:24px;}
.public_title img{height:30px;}

#selectgoods .public_title{color: #094;font-size: 18px;position: relative;}
#selectgoods .public_title a{float: right;font-size: 12px;color: #999;position: absolute;right: 10px;}
#selectgoods .public_title text{font-family: sans-serif;}

/*----会员版头------*/
#user_header{width:100%;padding-top: 20px;position: relative;background: #ff2c2c url(../images/bg_user.jpg) center no-repeat;height:150px;text-align:center;background-size: 100% 160px;margin-top: 50px;}
#user_header .a{display: block;margin-right: 10px;position: absolute;right: 10px;font-size: 14px;color: #fff;}
#user_header .a img{width: 22px;margin-right: 3px;margin-top: -2px;}
#user_header .img{border: 4px solid #e4e4e4;width: 66px;height: 66px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
#user_header .name{margin-top:5px;}
#user_header .name span{color:white;font-size: 14px;}
#user_header .grade{color:white;margin-top:3px;}
#user_header .level span{color:white;}
#user_header .button{margin-top:20px;}
/*----金额提现------*/
#user_neck{margin-bottom:10px;}
#user_neck .order_nav{margin-top:150px;}
#user_neck .list_money  li{background-color:white;border-bottom:1px solid #eee;display:block;line-height:54px;padding:0 10px;font-size:18px;}
#user_neck .list_money  li p{float:left;}
#user_neck .list_money  li label{float:right;}
#user_neck .list_money  li span{color:#ee3348;}
/*----个人中心我的订单------*/
#user_nav .order_nav .all_order{background:white;border-bottom:1px solid #eee;}
#user_nav .order_nav .all_order a{display:block;padding: 8px 10px;}
#user_nav .order_nav .all_order h2{float:left;font-weight:100;}
#user_nav .order_nav .all_order h2 img{width: 18px;margin-top: -2px;margin-right: 4px;}
#user_nav .order_nav .all_order label{font-size: 13px;float:right;padding-right: 15px;color: #999;}
#user_nav .box_nav{background:white;border-bottom:1px solid #ddd;}
#user_nav .box_nav li a{display:block;text-align:center;padding-top: 12px;height: 70px;font-size:14px;position: relative;}
#user_nav .box_nav li img{width: 26px;}
#user_nav .box_nav li a em{
    font-style:  normal;
    background: #ff2c2c;
    color: #fff;
    font-size: 12px;
    min-width: 16px;
    line-height: 16px;
    display: inline-block;
    border-radius: 16px;
    position: absolute;
    margin-left: 20px;
    margin-top: -6px;
}
#user_nav .list_nav{margin:10px 0;background:white;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#user_nav .list_nav label{font-size:14px;float:right;padding-right: 15px;}
#user_nav .list_nav span{float: right;font-size:14px;}
#user_nav .list_nav li{font-size:14px;border-bottom:1px solid #eee;}
#user_nav .list_nav li i .icont{margin-right:5px;}
#user_nav .list_nav li a{display:block;line-height:54px;padding:0 10px;font-size:18px;}
#user_nav .list_nav li img{width:30px;margin-right:10px;-webkit-border-radius:10%;-moz-border-radius:10%;border-radius:10%;}
#user_nav .opt_nav{margin-top:10px;background:white;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#user_nav .opt_nav li{border-bottom:1px solid #eee;}
#user_nav .opt_nav li i.icont{margin-right:5px;}
#user_nav .opt_nav li a{display:block;line-height:54px;padding:0 10px;font-size:18px;}
#user_nav .opt_nav li img{width:30px;margin-right:10px;-webkit-border-radius:10%;-moz-border-radius:10%;border-radius:10%;}
#user_nav .am-icon-chevron-right{position:absolute;right:10px;color:#999;}
#user_nav li:last-child{border:0;}
#user_nav .tc_nav{margin:10px;text-align:center;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#user_nav .tc_nav li a{display:block;line-height:46px;padding:0 10px;color:white;font-size:18px;-webkit-border-radius:10%;-moz-border-radius:10%;border-radius:5px;}
#user_nav .purse_nav{margin-top:6px;}
#user_nav .purse_nav .price{color:#f00;}
#user_nav.spread .purse_nav .price{color:#64ae20;}

#user_nav .manage_nav{margin-top:6px;}
#user_nav .manage_nav li{padding-top: 20px;padding-bottom: 25px;border-left: 1px solid #eee;border-bottom: 1px solid #eee;}
#user_nav .manage_nav li:nth-child(3n+1){border-left: none 0;}
#user_nav .manage_nav li img{margin-bottom: 10px;}
#user_nav .footprint_nav{margin-top:6px;}
#user_nav .footprint_nav li{padding-top: 5px;padding-bottom: 5px;}
#user_nav .footprint_nav li a{height: auto;text-align: left;}
#user_nav .footprint_nav li img{width: 80%;margin: 0 auto 5px;display: block;}
#user_nav .footprint_nav li p{width: 80%;margin: 0 auto;color: #666;font-size: 13px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#user_nav .footprint_nav li span{display: block;width: 80%;margin: 0 auto;color: #f00;}


/*----会员主页版头------*/
#user_index_header{width:100%;position:relative;background:#ee3348;padding-bottom:20px;text-align:center;}
#user_index_header .return{text-align:center;display:block;line-height:50px;width:40px;position:absolute;left:10px;top:0;color:white;z-index:100;}
#user_index_header .pic{padding-top:10px;}
#user_index_header .pic img{width:60px;height:60px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
#user_index_header .name span{color:white;}
#user_index_header .grade{color:#c4e7ba;}
#user_index_header .grade span{font-size: 12px;height:18px;width:32px;display:inline-block;color:#43ac20;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-image: -moz-linear-gradient(top, #fff, #cbcbcb);}
#user_index_header .grade p{display:inline-block;margin:0 10px;}
#user_index_header .grade label{display:inline-block;}
#user_index_header .process{height:4px;width:270px;margin:0 auto;margin-top:10px;background:#7cc563;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
#user_index_header .process .go{width:60%;height:4px;background:white;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
/*-------------------------公用导航 footer--------------------------*/
#footer{border-top: 1px solid #f2f2f2;position:fixed;bottom: 0;left: 0;background: white;z-index: 99;text-align:center;font-size:12px;padding-bottom:0px;padding-top: 6px;width:100%;}
#footer li a{padding-top: 28px;display: block;background: url(../images/icon-footer1-a.png) center 0 no-repeat;background-size: auto 25px;}
#footer li.active a p{color: #ff2c2c;}
#footer li:nth-child(1) a{background-image: url(../images/icon-footer1-a.png);}
#footer li:nth-child(1).active a{background-image: url(../images/icon-footer1-a-h.png);}
#footer li:nth-child(2) a{background-image: url(../images/icon-footer2-a.png);}
#footer li:nth-child(2).active a{background-image: url(../images/icon-footer2-a-h.png);}
#footer li:nth-child(3) a{background-image: url(../images/icon-footer3-a.png);}
#footer li:nth-child(3).active a{background-image: url(../images/icon-footer3-a-h.png);}
#footer li:nth-child(3) a{background-image: url(../images/icon-footer4-a.png);}
#footer li:nth-child(3).active a{background-image: url(../images/icon-footer4-a-h.png);}
#footer li:nth-child(4) a{background-image: url(../images/icon-footer5-a.png);}
#footer li:nth-child(4).active a{background-image: url(../images/icon-footer5-a-h.png);}

/*-------------------------商品列表--------------------------*/
#list_goods{background:white;border-top:1px solid #ddd;}
#list_goods ul img{width:100%;}
#list_goods li{border-left:3px solid #eee;border-top:3px solid #eee;}
#list_goods p{padding-left:10px;padding-right:10px;}
#list_goods span{float:left;padding-left:10px;color:#c40000;font-size:14px;}
#list_goods label{float:right;padding-right:10px;}
/*-----------筛选---------*/
#screen{background:white;/* margin-bottom:5px; *//* border-bottom:1px solid #eee; */margin-top: 50px;}
#screen ul{}
#screen .tab_searchsort li{font-size:16px;text-align:center;line-height: 16px;padding: 17px 0;border-bottom: 3px solid transparent;}
#screen .tab_searchsort li:first-child a{border:none 0;}
#screen .tab_searchsort li.cur{border-bottom: 3px solid #ff2c2c;}
#screen .tab_searchsort a{display: block;border-left:1px solid #ccc;}
#screen .tab_searchsort .cur a{color: #ff2c2c;}
#screen .tab_searchsort a .shaixuan{width:15px;margin-left:5px;}

.tab_searchsort a span{position: relative;margin-left: 2px;}
.tab_searchsort a span em{position: absolute;width:0;height:0;border: 5px solid transparent;}
.tab_searchsort a span em.em1{top: 0px;border-bottom-color: #999;}
.tab_searchsort a span em.em2{top: 11px;border-top-color: #999;}
.tab_searchsort a.up em.em1{border-bottom-color: #ff2c2c;}
.tab_searchsort a.down em.em2{border-top-color: #ff2c2c;}

#screen{position: relative;}
.product_select_con{position: absolute;width: 100%;top: 54px;border-top: 1px solid #eeeeee;}
.product_select_con.hide{display:none;}
.product_select_con ul{background: #fff;border-bottom: 1px solid #eee;text-align: center;line-height: 40px;}
.product_select_con li{border-bottom: 1px solid #f4f4f4;}
.product_select_con li a{display: block;font-size: 14px;}
.product_select_con li.active a{color: #ff2c2c;background: #f1f1f1;}


/*-------------------------商品分类--------------------------*/
#classify_goods{margin-top: 50px;overflow: hidden;background: #fff;}
#classify_goods ul img{border-bottom:1px solid #ddd;border-left:1px solid #ddd;width:100%;}
#classify_goods ul img:last-child{border-right:1px solid #ddd;}
.classify_goods_left{float:left;width:25%;}
.classify_goods_left li a{display:block;line-height: 54px;background: #f5f5f5;text-align: center;font-size: 15px;border-bottom: 1px solid #eee;border-left: 3px solid transparent;}
.classify_goods_left li.active a,.classify_goods_left li a:hover{color: #ff2c2c;border-left-color: #ff2c2c;background: #fff;}
.classify_goods_right{float:left;width:75%;overflow: hidden;/*background: #eee;*/}
.classify_goods_right h5{padding:10px;font-size: 120%;}
.classify_goods_right ul{padding-left: 10px;padding-bottom: 20px;}
.classify_goods_right li{padding-right: 10px;padding-top: 10px;}
.classify_goods_right li a{
    display: block;
}
.classify_goods_right li a div{
    position: relative;
    height: 0;
    padding-bottom: 100%;
}
.classify_goods_right li a img{
    position: absolute;
    height: 100%;
}
.classify_goods_right li a p{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height: 24px}


/*-----------子页导航---------*/
#sub_nav{margin-top:10px;}
#sub_nav a{display:block;line-height:40px;text-align:center;background:white;border-top:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;}
#sub_nav a.cur{background:#e52828;color:white;}
/*-----------商品详情---------*/
#project_details{background:white;padding-top:10px;padding-bottom: 80px;width:100%;}
#project_details .con img{width:100%;}
.xiaoqingheld{padding: 10px;font-size: 14px;line-height: 20px;background-color: #fff;border-bottom: 1px solid #ddd;}
/*-----------商品详情——基本信息---------*/
#project_basic .sail{margin-top:50px;background-color: white;padding-bottom: 0;width: 100%;margin-bottom: 0;}
#project_basic .sail p{padding:0 10px;font-size: 14px;}
#project_basic .sail span{color: #c40000;font-size: 24px;float: left;padding-left: 10px;}
#project_basic .sail label{float: right;color: #999999;font-size: 12px;padding:10px; }
#project_basic .sail s{float: right;color: #999999;font-size: 12px;padding:10px;}
#project_basic .booking {font-size: 14px;padding:0 10px;line-height: 44px;background: white;margin-top: 8px;}
#project_basic .booking p{border-bottom: 1px solid #eeeeee;}
#project_basic .booking label{padding-left: 20px;color:#c40000;text-indent:1px;letter-spacing:1px;}
#project_basic .booking span{padding-left:20px;color:#c40000;text-indent:1px;letter-spacing:1px;}
.norms{height: 44px;background-color: white;/* margin-bottom: 10px; */line-height: 44px;/* margin-top: 8px; */border-bottom: 1px solid #eee; */overflow:;}
.norms p{font-size: 14px;float: left;}
.norms .box {height: 40px;line-height: 40px;}
.norms .box label{float: right;font-size:20px;height: 30px;line-height: 30px;border:  1px solid #eeeeee;margin-top: 7px;padding:0 10px;}
.norms .box  .am-form-group input{width: 70px;background-color: #fff;border:0;text-align:center;float:right;font-size:14px;height: 30px;margin-top: 7px;border: 1px solid #eee;}
#project_basic .project_details{background-color: white;}
#project_basic .project_details p{padding:10px;/* border-bottom: 1px solid #eeeeee; */font-size: 14px;}
#project_basic .project_details img{margin: 0 auto;padding: 10px 0;width: 100%;display: block;}
#project_basic .sail .am-control-nav{bottom:10px;}
#project_basic .sail .am-slider-default{margin-bottom: 0;}
/*-----------加入购物车/购买---------*/
#buy_nav{width:100%;/*position:fixed;*//*bottom:0;;*/padding-bottom:0px;font-size:16px;margin-bottom:60px; text-align: center;}
#buy_nav a{color:white;display:block;line-height:40px;text-align:center;background:#fc8d89;}
#buy_nav a.cur{background:#c40000;color:white;}
/*-----------详情——加入购物车/购买---------*/
#buy_cart{}
#buy_cart .box{background:white;position:relative;padding-bottom:15px;}
#buy_cart .box .project{padding:10px 10px 10px 150px;}
#buy_cart .box .project a{display:block;}
#buy_cart .box .project img{position:absolute;left:10px;top:10px;width:130px;}
#buy_cart .box .project .project_cont{width:100%;}
#buy_cart .box .project .project_cont p{font-size:24px;line-height:18px;color:#c40000;padding-top:10px;padding-bottom:10px;}
#buy_cart .box .project .project_cont span{padding-bottom:10px;display:block;font-size:14px;color:#999;line-height:18px;}
#buy_cart .box .statistics{text-align:left;padding:10px;}
#buy_cart .box .statistics p{padding-top:20px;font-size:14px;}
#buy_cart .box .statistics_color{text-align:left;padding:10px;}
#buy_cart .box .statistics_color p{padding-top:0px;font-size:14px;}
#buy_cart .box .button{text-align:left;padding:0 10px;}
#buy_cart .box .button a{display:inline-block;padding:0 10px;line-height:28px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#buy_cart .box .button .red_solid{background:#c40000;color:white;}
#buy_cart .box .button .gray_hollow{background:#eeeeee;color:black;}
#buy_cart .sure{width:100%;position:fixed;bottom:0;padding-bottom:0px;margin-top:10px;text-align:center;display:block;line-height:40px;background:#c40000;}
#buy_cart .sure a{color:white;font-size:16px;}
/*---------------------我的购物车商品列表----------------------*/
.my_buy_cart {margin-top: 50px;}
.my_buy_cart .cart{padding: 10px;background: #fff;display: table;width: 100%;vertical-align: text-top;margin-bottom: 1px;}
.my_buy_cart .cart_left{display: table-cell;vertical-align: middle;}
.my_buy_cart .cart_middle{display: table-cell;}
.my_buy_cart .cart_right{display: table-cell;vertical-align: top;}
.my_buy_cart .opt{margin-left: 5px;}
.my_buy_cart .goodimg{width: 90px;height: 90px;padding: 2px;}
.my_buy_cart .project_cont{font-size: 14px;line-height: 18px;padding: 5px 10px 0;}
.my_buy_cart .money{font-size: 12px;color: #FB0808;}
.my_buy_cart .money span{color: #FB0808;font-size: 18px;}
.my_buy_cart .operate{padding: 20px 0 0 10px;}
.my_buy_cart .operate dd{float: right;}
.my_buy_cart .operate .goodsinput{width: 40px;background-color: #fff;border: 0;text-align: center;font-size: 14px;line-height: 20px;height: 20px;}
.my_buy_cart .operate .am-form-group{border-top: 1px solid #cccbca;border-bottom: 1px solid #cccbca;display: block;margin: 0;float: left;}
.my_buy_cart .operate .goodsdel{float: right;}
.my_buy_cart .operate .am-icon-trash{color: #bbb;float: right;line-height: 22px;}
.my_buy_cart .operate .am-icon-minus-square{margin-right: 0;color: #666;}
.my_buy_cart .operate .icon-minus{width: 23px;height: 23px;border: 1px solid #cccbca;text-align: center;display: block;float: left;}
.my_buy_cart .operate .icon-minus:before{content:'';}
.my_buy_cart .operate .am-icon-plus-square{margin-left: 0;}
.my_buy_cart .operate .icon-plus:before{content:'';}
.my_buy_cart .operate .icon-plus{width: 23px;height: 23px;border: 1px solid #cccbca;text-align: center;display: block;float: left;}

#choose_goods{border-top: 1px solid #e8e8e8;position:fixed;bottom:53px;left: 0;background: white;z-index: 99;text-align:center;font-size:12px;padding-bottom:0px;padding-top:0px;width:100%;}
#choose_goods .choose_all{font-size:12px;float:left;width:70%;background-color:white;line-height:53px;}
#choose_goods .choose_all p{padding-left:40px;float:left;}
#choose_goods .choose_all ul{float:right;height:53px;line-height:22px; padding-right:10px; padding-top:5px; padding-bottom:5px;}
#choose_goods .choose_all ul .total{font-size: 14px;}
#choose_goods .choose_all ul .total span{font-size: 15px;color: #f00;}
#choose_goods .choose_all ul .no_freight{font-size:8px;color: #999;}
#choose_goods .choose_all .choose label{position:absolute;left:10px;float:left;line-height:53px;margin-top:15px;}
#choose_goods .settlement a{color:white;float:right;width:30%;background-color: #EC5051;line-height:53px;word-spacing:5px;font-size: 14px;}
/*---------------------确认订单---------------------*/
#consignee{padding:10px;background-color:white;margin-bottom:1px;margin-top: 50px;}
#consignee .consignee_name{padding-bottom:10px;}
#consignee .consignee_name p{float:left;color:#333333;font-size:16px;padding-left: 30px;}
#consignee .consignee_name span{font-size:16px;padding-right:20px;float:right;}
#consignee .consignee_address{height:40px;}
#consignee .consignee_address img{float:left;height: 22px;margin-top: 3px;}
#consignee .consignee_address p{font-size:12px;color:#333333;padding-left: 30px;padding-right:10px;}
#consignee .consignee_address i{float:right;}
#consignee_time {line-height:30px;padding:10px;background:white;margin-bottom:10px;}
#consignee_time img{padding-top:5px;float:left;height:25px;}
#consignee_time p{font-size:12px;color:#333333;padding-left:40px;}
#consignee_time span{color:#c40000;}
#my_goods_list{/* margin-bottom: 150px; */margin-top: 6px;}
#my_goods_list  a{display:block;}
#my_goods_list .commodity_list{background:white;margin-bottom:1px;padding-left:10px;line-height:40px;font-size:14px;}
#my_goods_list .project_cont{width:100%;}
#my_goods_list img{position:absolute;left:10px;width:100px;height:100px;}
#my_goods_list li{height:120px;padding:10px 10px 10px 120px;min-height:100px;background:white;margin-bottom:5px;}
#my_goods_list li label{position:absolute;left:10px;float:left;line-height:120px;}
#my_goods_list .project_cont p{font-size:14px;line-height:18px;color:#333333;padding-right:10px;padding-bottom:10px;}
#my_goods_list .project_cont span{display:block;font-size:12px;color:#999;line-height:18px;}
#my_goods_list .project_cont label{float:right;padding-left:10px;}
#my_goods_list .money p{font-size:16px;line-height:18px;color:#c40000;padding-right:20px;}
#my_goods_list .money span{float:right;color:#999;}

#my_goods_list .nums{float: right;}
#my_goods_list .nums .goodsinput{width: 40px;background-color: #fff;border: 0;text-align: center;font-size: 14px;line-height: 20px;height: 20px;}
#my_goods_list .nums .am-form-group{border-top: 1px solid #cccbca;border-bottom: 1px solid #cccbca;display: block;margin: 0;float: left;}
#my_goods_list .nums .goodsdel{float: right;}
#my_goods_list .nums .am-icon-trash{color: #bbb;float: right;line-height: 22px;}
#my_goods_list .nums .am-icon-minus-square{margin-right: 0;color: #666;}
#my_goods_list .nums .icon-minus{width: 23px;height:23px;border: 1px solid #cccbca;text-align: center;display: block;float: left;}
#my_goods_list .nums .icon-minus:before{content:'';}
#my_goods_list .nums .am-icon-plus-square{margin-left: 0;}
#my_goods_list .nums .icon-plus:before{content:'';}
#my_goods_list .nums .icon-plus{width: 23px;height: 23px;border: 1px solid #cccbca;text-align: center;display: block;float: left;}

#total_money{border-top: 1px solid #f4f4f4;position:fixed;bottom:53px;left: 0;background: white;z-index: 99;text-align:center;font-size:12px;padding-bottom:0px;padding-top:0px;width:100%;}
#total_money .money{font-size:12px;float:left;width:70%;background-color:white;line-height:53px;}
#total_money .money p{font-size: 16px;float:right;height:53px;padding-right: 0;}
#total_money .money span{padding-right:30px;font-size: 20px;color: #e10000;float:right;}
#total_money .settlement a{color:white;float:right;width:30%;background-color:#c40000;line-height:53px;}

#select_coupons{margin-top: 6px;background: #fff;}
#select_coupons .all_order{background:white;padding: 0 10px;}
#select_coupons .all_order a{display:block;padding: 8px 0;}
#select_coupons .all_order h2{float:left;font-weight:100;}
#select_coupons .all_order h2 img{width: 18px;margin-top: -2px;margin-right: 4px;}
#select_coupons .all_order label{font-size: 13px;float:right;color: #999;}
#pay_type{margin-top: 6px;background: #fff;margin-bottom: 120px;}
#pay_type .pay_type_con{line-height: 45px;padding: 0 10px;border-bottom: 1px solid #f4f4f4;font-size: 16px;background: none 97% center no-repeat;background-size: auto 18px;}
#pay_type .pay_type_con.active{background-image: url(../images/icon_selected.png);}
#pay_type .pay_type_con img{display: inline-block;width: 26px;height: 26px;margin-right: 7px;}


/*----------------二维码分享页------------------*/
/*--------自适应设置--------*/
#user_center_share{background-attachment:fixed;text-align: center;background-repeat:no-repeat;background-image: url(../images/background_body.jpg);background-position: bottom;background-size: contain;-moz-background-size:cover;-webkit-background-size:cover;}
#user_center_share .add p{ float:left;padding-left: 10px;color:white;letter-spacing:10px;}
#user_center_share .background_body .logo{margin-top: 50px;}
#user_center_share .background_body .logo img{height: 110px;}
#user_center_share .background_body .chart{margin-top: 30px;}
#user_center_share .background_body .chart img{height: 150px; width: 150px;}
#user_center_share .background_body .chart_desc{text-align: center; width: 70%; margin: 10px auto 10px; line-height: 25px;color:white;letter-spacing:10px;text-indent: 10px;}
#user_center_share .background_body .ad-share{text-indent : 5px;letter-spacing:5px;color:white;text-align: center; width: 70%; margin: 0 auto; margin-top: 10px; line-height: 25px;}
#user_center_share .spokesman{width:100%;position:fixed;bottom:15px;margin-top:20px;}
#user_center_share .spokesman img{margin-top:20px;border: 1px solid #fcd6da;padding:3px;width:60px;height:60px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
#user_center_share .spokesman .name{margin-top:10px;margin-bottom:5px;color:white;}
#user_center_share .spokesman span{padding-left:10px;font-size: 18px;color:white;}
#user_center_share .spokesman hr{color: white;margin-left: 20px;margin-right: 20px;}
#user_center_share .spokesman p{border-top: 1px solid #fff;line-height: 30px;color:white;text-indent : 20px;letter-spacing:20px;text-align: center;}
/*----------------提现页面------------------*/
#withdrawal{margin-top: 60px;}
#withdrawal .input_value{margin-top:10px;margin-bottom:10px;}
#withdrawal .am-form-group{margin-bottom: 0;}
#withdrawal .input_value .am-form-group{line-height:40px;float:left;background:white;width:70%;}
#withdrawal .input_value .am-form-group input{color:#999999;padding-left:10px;border:0px;font-size:14px; line-height: 36px;width: 100%;}
#withdrawal .input_value .button_withdrawal{line-height:40px;float:right;width:30%;background:#c40000;text-align:center;color:white;font-size:14px;}
#withdrawal .check{background:white;padding-bottom:15px;padding-left:10px;padding-right:10px;}
#withdrawal .check p{font-size:14px;line-height:15px;text-align:center;padding-top:15px;}
#withdrawal .check span{color:#999999;}
#withdrawal .check i{float:right;}
/*----------------提现记录------------------*/
#record_items{margin-top:50px;font-size:14px;background-color: white;width: 100%;margin-bottom: 3px;text-align: center;line-height: 40px;/* padding-right: 30px; *//* display: table; */}
#record_items li{float:left;width: 28%;}
#record_items li:last-child{width: 44%;}
#record_contain{margin-bottom:100px;font-size:14px;background-color: white;width: 100%;text-align: center;line-height: 40px;/* padding-right: 30px; */}
#record_contain li{float:left;width: 28%;}
#record_contain li span{color:#f00}
#record_contain li:nth-child(3n){width: 44%;}

/*----------------推广关系------------------*/
.total_commission{margin-top:50px;padding:0 10px;height:40px;line-height: 40px;background-color: white;margin-bottom: 10px;}
.total_commission p{float: left;font-size: 14px;}
.total_commission span{padding-left:10px;float: left;font-size: 14px;color: #c40000;}
.total_commission label{font-size: 12px;color: #999999;float: right;}
.total_commission label i{padding-left: 10px;}
#all_user_list{}
#all_user_list .user_list{background-color: white;width: 100%;margin-bottom: 10px;}
#all_user_list .user_list .one-user{padding:0 10px;border-bottom: 1px solid #eeeeee;height:40px;font-size: 14px;}
#all_user_list .user_list .one-user img{height: 25px;padding-right: 10px;float:left;}
#all_user_list .user_list .one-user p{float:left;line-height: 40px;}
#all_user_list .user_list .one-user span{float: right;line-height: 40px;}
#all_user_list .user_list .one-user label{padding: 0 10px;color: #c40000;}
#all_user_list .user_list .name-list li{padding:0 10px 10px 40px;height:40px;line-height: 40px;;border-bottom: 1px solid #eeeeee;}
#all_user_list .user_list .name-list img{margin-top:10px;height: 15px;padding-right: 10px;float:left;}
#all_user_list .user_list .name-list p{float: left;font-size: 14px;}
#all_user_list .user_list .name-list span{padding:0 10px;font-size: 14px;color: #c40000;}
#all_user_list .user_list .name-list label{font-size: 12px;color: #999999;float: right;}
#all_user_list .user_list .name-list label i{padding-left: 10px;}
/*----------------一级用户购买记录------------------*/
#Level_1records{margin-top: 50px;}
#Level_1records  a{display:block;/* margin-bottom: 100px; */}
#Level_1records .commodity_list{background:white;margin-bottom:1px;padding-left:10px;line-height:40px;font-size:14px;}
#Level_1records .project_cont{width:100%;}
#Level_1records img{position:absolute;left:10px;width:100px;height:100px;}
#Level_1records li{height:120px;padding:10px 10px 10px 120px;min-height:100px;background:white;margin-bottom:5px;}
#Level_1records .project_cont p{font-size:14px;line-height:18px;color:#333333;padding-right:10px;padding-bottom:10px;}
#Level_1records .project_cont span{margin-bottom:10px;display:block;font-size:12px;color:#999;line-height:18px;}
#Level_1records .money p{display:block;font-size:12px;color:#999;line-height:18px;}
#Level_1records .money label{font-size:14px;line-height:18px;color:#c40000;padding-left:10px;padding-right:20px;}
#Level_1records .money span{float:right;color:#999;}

/*-----------我的订单---------*/
#my_order{margin-top: 50px;}
#my_order .nav{background-color:white;text-align:center;margin-bottom: 8px;border-bottom:1px solid #eee;}
#my_order .nav a{display:block;line-height:40px;font-size:14px;position:relative;bottom:-1px;}
#my_order .nav a.cur{color: #ff2c2c;border-bottom: 3px solid #ff2c2c;}
.cur{color: #ff2c2c;border-bottom: 3px solid #ff2c2c;}
#my_order .cont .box{padding-bottom: 10px;margin-bottom: 6px;background: #fff;}
#my_order .cont .box .state{text-align:right;color:red;margin-bottom:10px;padding:0 10px;}
#my_order .cont .box .project{min-height:100px;position:relative;padding:10px 100px 10px 100px;/* background:#f5f5f5; */border-bottom: 1px solid #eee;}
#my_order .cont .box .project a{display:block;}
#my_order .cont .box .project img{position:absolute;left:10px;top:10px;width:80px;height:80px;}
#my_order .cont .box .project .project_cont{width:100%;}
#my_order .cont .box .project .project_cont p{font-size: 15px;line-height:18px;margin-bottom: 5px;}
#my_order .cont .box .project .project_cont span{display:block;font-size: 12px;color:#999;line-height:18px;}
#my_order .cont .box .project .price{position:absolute;right:10px;top: 20px;color:#999;}
#my_order .cont .box .project .price label{display:block;font-size:14px;color:#333;}
#my_order .cont .box .project .price span{color: #f00;font-size:14px;}
#my_order .cont .box .statistics{text-align:right;padding:10px;}
#my_order .cont .box .statistics p{font-size:14px;}
#my_order .cont .box .button{text-align:right;padding:0 10px;}
#my_order .cont .box .button a{display:inline-block;padding: 0 15px;line-height:28px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#my_order .cont .box .button .red_hollow{border:1px solid #c40000;color:#c40000;}
#my_order .cont .box .button .red_solid{border: 1px solid #ff2c2c;background: #ff2c2c;color:white;}
#my_order .cont .box .button .gray_hollow{border: 1px solid #b1b1b1;color: #666;}
#my_order .bianhao{line-height: 40px;padding: 0 10px 0px 10px;font-size: 14px;border-bottom: 1px solid #eee;display: block;}
#my_order .bianhao span{color:#f00;float:right;font-size: 12px;}

/*---------------------收货地址列表----------------------*/
#receipt_address_list{margin-top: 50px;}
#receipt_address_list .cont{/* background:white; */}
#receipt_address_list .cont .box{padding:10px;margin-bottom: 5px;border-bottom:1px solid #eee;background: #fff;}
#receipt_address_list .cont .box .button{/* padding: 0 10px; */}
#receipt_address_list .cont .box .button .am-radio{float:left;}
#receipt_address_list .cont .box .button a{float:right;margin-top:8px;margin-left:5px;display:inline-block;padding:0 10px;line-height: 28px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#receipt_address_list .cont .box .button .red_hollow{border: 1px solid #ff2c2c;color: #ff2c2c;}
#receipt_address_list .cont .box .button .color_glay{border: 1px solid #ccc;color: #999;}
#receipt_address_list .color_red{background: #fff;line-height: 50px;padding: 0 10px;}
#receipt_address_list .tc_nav{border-top:1px solid #ddd;margin-bottom: 6px;}
#receipt_address_list  a{display:block;line-height: 30px;/* padding:0 10px; */font-size: 14px;}
#receipt_address_list .tc_nav a:before{content:'+';width: 20px;height: 20px;background: #ff2c2c;display: inline-block;vertical-align: middle;line-height: 18px;text-align: center;color: #fff;font-weight: bold;border-radius: 2px;margin-right: 12px;margin-top: -2px;}

/*---------------------编辑收货地址----------------------*/
#edit_receiving_address{padding: 20px;margin-top: 50px;background: #fff;}
#edit_receiving_address span{float:left;color: #ff2c2c;}
#edit_receiving_address .am-checkbox{float: left;margin-top: 0px;padding-left: 15px;}
#edit_receiving_address .button{overflow:hidden;}
#edit_receiving_address .button a{float:right;display:inline-block;padding: 0px 40px;line-height:28px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#edit_receiving_address .button .red_hollow{margin-left:10px;border: 1px solid #ff2c2c;color: #ff2c2c;}
#edit_receiving_address .button .save{margin-left:10px;color:white;background-color: #ff2c2c;}
#edit_receiving_address .am-form-group{margin-bottom:1rem;}
#edit_receiving_address .am-form-group input{border: none 0;border-radius: 5px;padding: 0.75rem 0.5rem;background: #eeeeee;}
#edit_receiving_address .am-form-group select{border: none 0;border-radius: 5px;padding: 0.75rem 0.5rem;background-color: #eeeeee;}
/*产品详情页*/
.product_con2{background: #fff;padding: 10px;overflow: hidden;}
.pc_share{float: right;width: 15%;padding: 0 10px;border-left: 1px dashed #f1f1f1;text-align: center;}
.pc_share img{width: 18px;}
.pc_share p{color: #f00;font-size: 12px;}

.pc_name{float: left;width: 80%;}
.pc_name .title{color: #000;font-size: 14px;line-height: 20px;}
.product_con2 .remark{font-size: 18px;clear: both;}
.product_con2 .remark .p1{color: #f00;margin-right: 10px;}
.product_con2 .remark .p2{font-size: 13px;color: #999;}
.product_con2 .remark .p2 span{float:right;color: #999;}

.product_con3{background: #fafafa;padding: 8px 10px;color: #666;}
.product_con3 .v2{}
.product_con3 .v2 img{width: 15px;margin-right: 5px;margin-top: -2px;}
.product_con3 .v2 span{font-size: 13px;margin-right: 20px;}


.product_con4{background: #fff;overflow: hidden;padding: 0 10px;margin-top: 6px;font-size: 14px;}
.product_con4 .com_title{border-bottom: 1px solid #ececec;padding: 10px 0}
.product_con4 .progress_list{overflow-y: auto;max-height: 120px;}
.product_con4 .progress{padding: 10px 0;overflow: hidden;border-bottom: 1px solid #ececec;}
.product_con4 .progress .v_right{float: right;width: 30%;font-size: 12px;text-align: right;}
.product_con4 .progress .v_right text{color: #f00;}
.product_con4 .progress .v_right .v1{color: #999;}
.product_con4 .progress_bar{width: 50%;margin-top: 10px;}
.product_con4 .progress .v_go{float:right;width: 18%;margin-left: 2%;background: #f60;text-align: center;color: #fff;border-radius: 40px;margin-top: 8px;}


.product_con5{margin-top: 10px;background: #fff;padding: 0 10px;}
.product_con5 .com_title{padding: 20px 0}
.comment{margin-top:50px;background:#fff;padding:10px;}
.comment_tab{padding: 10px 0;padding-top: 0;}
.comment_tab a{display: inline-block;border-radius: 5px;height: 26px;line-height: 26px;text-align: center;background: #e8e8e8;color: #666;font-size: 14px;margin-right: 10px;padding: 0 14px;}
.comment_tab a.active{background: #ff1a1a;color: #fff;}
.comment_list{border-top: 1px solid #ececec;background: #fff;}
.comment_list .title{font-size: 14px;padding-top: 12px;}
.comment_list .title .t_right{float: right;color: #999;font-size: 14px;}
.comment_list .title img{width: 32px;border-radius: 32px;margin-right: 10px;}
.comment_list .img{margin-top: 15px;}
.comment_list .img img{width: 100px;height: 100px;margin-right: 2px;border:1px solid #f1f1f1;margin-bottom: 6px;}
.comment_list .more{font-size: 14px;color: #666;padding: 10px 0;}

.product_con6{margin-top: 10px;background: #fff;margin-bottom: 40px;}
.product_con6 .com_title{padding: 20px;}
.product_con6 .content{border-top: 1px solid #ececec;}
.product_con6 .content .con1{font-size: 14px;}
.product_con6 .content .con1 p{padding: 10px;}
.product_con6 .content img{width: 100%;margin: 0 auto;}
.product_btns{overflow: hidden;position: fixed;bottom: 0;width: 100%;background: #fff;text-align: center;border-top: 1px solid #ececec;display: table;}
.product_btns .v1{display: table-cell;width:15%;font-size: 12px;padding: 6px 0;border-right: 1px solid #ececec;line-height: 1.5;}
.product_btns .v1.color1 div{color: #00a8ff;}
.product_btns .v1.hide{display: none;}
.product_btns .v1 img{width: 22px;}
.product_btns .v_buy{width: 25%;color: #fff;background: #e10000;border-right:none 0;vertical-align: middle;}
.product_btns .v_collage{width: 30%;background: #f80;border-right:none 0;vertical-align: middle;}
.product_btns .v_buy div,.product_btns .v_collage div{color: #fff;font-size: 15px;}

.product_btns button.v1{background: #fff;}
.product_btns button.v1:after{border:none 0}

#project_basic .all_order{background:white;/* border-bottom:1px solid #eee; */overflow: hidden;width: 100%;}
#project_basic .all_order a{display:block;padding: 8px 0;}
#project_basic .all_order h2{float:left;font-weight:100;}
#project_basic .all_order h2 img{width: 18px;margin-top: -2px;margin-right: 4px;}
#project_basic .all_order label{font-size: 13px;float:right;color: #999;}
#project_basic .product_con6 .all_order{padding: 0 10px;}

/*我的水桶*/
#my_bucket{margin-top: 50px;}
.my_bucket_list{background: #fff;margin-bottom: 6px;}
.my_bucket_list .p_case{padding: 5px 10px;line-height: 30px;border-bottom: 1px solid #f1f1f1;}
.my_bucket_list .p_case span{float: right;color: #f80;}
.my_bucket_list .product{display: block;overflow: hidden;padding: 10px;}
.my_bucket_list .product img{width: 25%;margin-right: 4%;float: left;}
.my_bucket_list .product .p1{font-size: 13px;color: #000;height: 60px;line-height: 20px;}
.my_bucket_list .product .p2{color: #f00;font-size: 18px;}
.my_bucket_list .product .p2 span{float: right;font-size: 14px;color: #999;}
.my_bucket_list .p_more{border-top: 1px solid #f1f1f1;padding: 8px 15px;line-height: 36px;}
.my_bucket_list .p_more a{float: right;width: 110px;display: block;background: #ff2c2c;color: #fff;text-align: center;line-height: 34px;border-radius: 5px;font-size: 13px;border: 1px solid #ff2c2c;}
.my_bucket_list .p_more a.a_sure{border: 1px solid #f1f1f1;background: transparent;color: #333;}
.my_bucket_list .p_more span{}

.my_bucket_list  .goodsdel{float:right;font-size:14px;color:#f00;}

.cgr_con{float: left;width: 47%;background: #f80;padding: 2%;margin-top: 2%;margin-left: 2%;}
.cgr_con_dl{overflow: hidden;}
.cgr_con_dl dt{color: #fff;float: left;font-size: 34px;font-weight: normal;margin-right: 2px;line-height: 1.5;letter-spacing: -2px;font-family: Arial;}
.cgr_con_dl dd{color: #fff;/*font-size: 0.7rem;*/}
.cgr_con a{display: block;background: #fff;color: #f80;text-align: center;}

.my_purse{margin-top: 50px;}
.purse_top{width:100%;position:relative;height: 150px;overflow: hidden;background: #ff2c2c url(../images/bg_user.jpg) center no-repeat;background-size: cover;}

.purse_main{padding-top: 25px;}
.purse_yue{text-align:center;color:#fff;}
.purse_yue_tit{font-size: 14px;color: #fff;clear: both;}
.purse_yue_num{font-size: 25px;line-height:40px;color: #fff;}
.purse_yue_num span{font-size:14px;color:rgba(255,255,255,.7);}
.purse_yue_name{margin-top: 45px;color:#fff;font-size: 16px;}
.purse_yue_btn{float: right;display: block;color: rgba(255,255,255,.7);border: 1px solid rgba(255,255,255,.7);font-size: 12px;width: 60px;text-align: center;height: 26px;line-height: 24px;border-radius: 24px;margin-right: 20px;margin-top: -20px;}
.purse_lists{position: absolute;bottom: 0;left: 0;width: 100%;overflow:hidden;color:#fff;height: 45px;padding-top: 10px;border-top: 1px solid rgba(255,255,255,.6);}
.purse_lists .purse_cz{float:left;width:49.8%;border-right: 1px solid rgba(255,255,255,.6);text-align: center;}
.purse_lists .purse_tx{float:left;width:49.8%;text-align: center;}
.purse_lists .purse_cz img{width: 20px;margin-right: 10px;display: inline-block;margin-top: -2px;vertical-align: middle;}
.purse_lists .purse_tx img{width: 22px;margin-right: 10px;display: inline-block;margin-top: -2px;vertical-align: middle;}
.cz{display: inline-block;color: #fff;font-size: 15px;}
.tx{float:left;}
.purse_bot{margin-top: 10px;background: #fff;}

.my_purse .all_order{background:white;border-bottom:1px solid #eee;}
.my_purse .all_order a{display:block;padding: 8px 10px;}
.my_purse .all_order h2{float:left;font-weight:100;}
.my_purse .all_order h2 img{width: 18px;margin-top: -2px;margin-right: 4px;}
.my_purse .all_order label{font-size: 13px;float:right;padding-right: 15px;color: #999;}

.recharge{padding: 20px;background: #fff;margin-top: 50px;}
.recharge input{display: block;border: 1px solid #ccc;text-indent: 10px;height: 40px;line-height: 40px;width: 100%;font-size: 16px;color: #666;}
.cz_text{text-align:left;color:#999;margin-top: 10px;font-size: 14px;}
.row_btn{margin-top: 20px;}
.row_btn .btn{display: block;border: none 0;outline: none 0;width: 100%;height: 40px;line-height: 40px;color: #fff;background: #ff2c2c;border-radius: 5px;font-size: 16px;}

.setup{margin-top: 56px;}
.setup .all_order.mt6{margin-top:6px;}
.setup .all_order{background:white;border-bottom:1px solid #eee;}
.setup .all_order a{display:block;padding: 8px 10px;}
.setup .all_order h2{float:left;font-weight:100;}
.setup .all_order h2 img{width: 18px;margin-top: -2px;margin-right: 4px;}
.setup .all_order label{font-size: 13px;float:right;padding-right: 5px;color: #999;}
.setup .all_order label span{margin-right:5px;color:#666}
.setup .all_order label input{border:none 0;text-align:right;margin-right:6px;margin-top: -4px;}
.setup .all_order label .img{width:30px;height:30px;border-radius:50%;margin-right: 5px;}
.am-modal-btn{color:#ff2c2c}

#my-prompt4 select{width: 90%;height:40px;margin-top:10px;border: 1px solid #ccc;font-size: 16px;padding-left: 10px;}

.about{margin-top:50px;background:#fff;padding:20px;}
.about h4{text-align: center;font-size: 16px;}
.about .time{text-align:center;margin-top:10px;}
.about_con{margin-top: 10px;font-size: 13px;}

.assess_content{margin-top: 50px;}
.assess_tab{background: #fff;padding: 10px;overflow: hidden;line-height: 30px;}
.assess_tab .img{width: 40px;float: left;border:1px solid #ececec;margin-right: 20px;}
.at_con{font-size: 14px;color: #999;float: left;line-height: 40px;}
.at_con img{width: 24px;margin-right: 6px;}
.at_con .img1{display: inline-block}
.at_con .img_h{display: none;}
.at_con text{width: 50px;display: inline-block;}
.at_con.active{color: #ff4a4a;}
.at_con.active .img1{display: none;}
.at_con.active .img_h{display: inline-block}

.assess_con{margin-top: 1px;background: #fff;padding: 10px;}
.assess_con .textarea{font-size: 14px;width: 100%;border: 1px solid #e9e9e9;padding: 5px 10px;height: 120px;}
.ac_img{margin-top: 10px;}
.ac_img img{border: 2px solid #f1f1f1;margin-right: 10px;width: 70px;}
.ac_img img.img_default{border:none 0;}
.assess_btn{padding: 10px;}
.assess_btn .btn{display:block;text-align: center;height: 44px;background: #ff2c2c;line-height: 43px;color: #fff;font-size: 16px;}

.distance_end{font-size: 14px;}
.distance_end .t1{color: #666;}
.distance_end .t2{background: #333;display: inline-block;padding: 0 4px;color: #fff;font-size: 12px;margin: 0 2px;border-radius: 3px;}

.groupon_list{margin-top: 50px;margin-bottom: 60px;}
.groupon_list .com_title{background: #fff;padding: 10px;line-height: 24px;font-size: 16px;}
.groupon_list .com_title img{width: 20px;vertical-align: middle;margin-top: -3px;}
.groupon_list .com_title .distance_end{float:right;}
.groupon_list .com_title span{}
.groupon_list_con{overflow: hidden;margin-top: 1px;background: #fff;padding: 10px;}
.glc_left{float: left;width: 30%;}
.glc_left img{display: block; width: 100%;border: 1px solid #ddd;}
.glc_left .distance_end{margin-top: 20px;}
.glc_right{float: right; width: 65%;}
.glc_right .title{font-size: 15px;word-break: break-all;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;line-height: 1.25;}
.glc_right .remark{font-size: 13px;color: #f80;margin-top: 10px;}
.glc_right .remark span{color: #f60;}
.glc_right .progress_bar{margin-top: 10px;}
.glc_right .more{margin-top: 8px;overflow: hidden;}
.glc_right .more .go_collage{float: right;border-radius: 5px;width: 60px;height: 30px;line-height: 30px;background: #f22;color: #fff;text-align: center;font-size: 14px;}
.glc_right .more .price{}
.glc_right .more .price_original{font-size: 18px;float: left;margin-right: 8px;font-weight: bold;color: #fe5e5e;}
.glc_right .more .price_original text{font-size: 14px;}
.glc_right .more .price_present{color: #999;float: left;text-decoration:line-through;font-size: 12px;margin-top: 5px;}

.progress_bar{overflow: hidden}
.progress_bar_left{float: left;width: 68%;height: 16px;border-radius: 16px;background: #62c704;margin-right: 5%;position: relative;margin-top: 3px;}
.progress_bar_left div{background: #ff2c2c;border-radius: 16px;position: absolute;left: 0;top: 0;height: 16px;}
.progress_bar_right{float: left;color: #ff2c2c;font-size: 14px;}

.collage_end{text-align: center;margin-top: 50px;}
.collage_end img{display: block;height: 120px;margin: 10px auto 30px;}
.collage_end .v1{font-size: 18px;color: #666;}
.collage_end .v2{font-size: 14px;color: #999;margin-top: 5px;}

.integral{margin-top: 50px;}

.integral_tab{background:white;border-bottom:1px solid #eee;}
.integral_tab li{font-size: 13px;text-align:center;line-height: 16px;padding: 17px 0;}
.integral_tab li:first-child a{border:none 0;}
.integral_tab li.cur{}
.integral_tab a{display: block;border-left:1px solid #ccc;}
.integral_tab .cur a{color: #f00;}

.integral_list{background-color: #fff;}
.integral_list_con{overflow: hidden;padding: 12px;border-bottom: 1px solid #eee;}
.ilc_left{display: block;float: left;width: 100px;}
.ilc_left img{display: block;width: 100px;height: 100px;}
.ilc_right{margin-left: 120px;overflow: hidden;}
.ilc_right .title{font-size: 15px;color: #000;height: 36px;display: block;}
.ilc_right .remark{color: #999;}
.ilc_right .price{color: #666;font-size: 12px;}
.ilc_right .price em{float: right;font-style: normal;color: #999;}
.ilc_right .price span{font-size: 18px;color: #f00;}
.ilc_right .btn{display: block;float: right;font-size: 12px;background-color: #f80;color: #fff;padding: 2px 10px;border-radius: 5px;}
.ilc_right .btn_gray{background-color: #ccc;}

.spread{margin-top: 50px;margin-bottom: 60px;}
.spread_top{background: #ff2c2c url(../images/bg_user.jpg) center no-repeat;height: 110px;background-size: cover;padding: 20px;border-bottom: 1px solid rgba(255,255,255,.1);}
.spread_top img{display: block;float: left;height: 70px;width: 70px;border-radius: 70px;border: 3px solid #eee;}
.spread_top_more{margin-left: 85px;}
.spread_top_more p{color: rgba(255,255,255,.9);font-size: 12px;}
.spread_top_more .p1{font-size: 16px;margin-bottom: 5px;}
.spread_top_more .p2{}
.spread_middle{background-color: #ff4444;padding: 20px;}
.spread_middle p{color: rgba(255,255,255,.9);font-size: 15px;}
.spread_middle .p1{margin-top: 10px;font-size: 12px;}
.spread_middle a{display: block;float: right;color: rgba(255,255,255,.7);border: 1px solid rgba(255,255,255,.7);font-size: 12px;width: 60px;text-align: center;height: 26px;line-height: 24px;border-radius: 24px;}
.spread_btn{margin-top: 6px;background-color: #fff;overflow: hidden;}
.spread_btn_con{display: block;float: left;text-align: center;width: 50%;padding: 15px 0;border-left: 1px solid #f4f4f4;border-top: 1px solid #f4f4f4;}
.spread_btn_con img{display: inline-block;width: 24px;vertical-align: top;margin-top: 6px;margin-right: 3px;}
.spread_btn_con p{display: inline-block;text-align: left;color: #000;}
.spread_btn_con span{display: block;color: #999;}

.spread_link{margin-top:6px;}
.spread_link .all_order{background:white;border-bottom:1px solid #eee;}
.spread_link .all_order a{display:block;padding: 8px 10px;}
.spread_link .all_order h2{float:left;font-weight:100;}
.spread_link .all_order h2 img{width: 18px;margin-top: -2px;margin-right: 4px;}
.spread_link .all_order label{font-size: 13px;float:right;padding-right: 5px;color: #999;}
.spread_link .all_order label span{color: #999;}
.spread_remark{padding:20px 0;background:#fff;}
.spread_remark img{ display:block;margin:0 auto;max-width:100%;}

.commission{margin-top: 50px;background-color: #fff;}
.commission_tit{border-bottom:1px solid #eee;padding: 10px 20px;font-size: 16px;}
.commission_list{border-bottom:1px solid #eee;padding: 10px 20px;line-height: 20px;}
.commission_list_top{line-height: 30px;font-size: 14px;color: #000;}
.commission_list_center{color:#999;font-size: 12px;}
.commission_list_center .red{color:#f00;}
.commission_list_bot{}

.news{margin-top: 50px;}
.news_list{display: block;padding: 20px;background:#fff;margin-bottom: 1px;}
.news_list .title{overflow:hidden;margin-bottom: 5px;font-size: 16px;white-space: nowrap;text-overflow: ellipsis;}
.news_list .remark{ margin-bottom: 5px;}
.news_list .time{color:#999;}

.coupons{margin-top: 50px;}
.coupons_list{background: url(../images/img_coupons_ing.png) center no-repeat;background-size: 100% 100%;margin: 10px;overflow: hidden;}
.coupons_list.invalid{background-image: url(../images/img_coupons_invalid.png);}
.coupons_list.ed{background-image: url(../images/img_coupons_ed.png);}
.coupons_list_left{display: block;float: left;width: 62%;padding: 20px 40px;}
.coupons_list_left p{color: #fff;}
.coupons_list_left .p1{font-size: 16px;}
.coupons_list_left .p2{margin-top: 40px;}
.coupons_list_right{display: block;float: left;width: 38%;padding: 20px 0;text-align: center;}
.coupons_list_right p{font-size: 16px;color: #fff;}
.coupons_list_right .p1{}
.coupons_list_right .p1 span{font-size: 24px;color: #fff;}
.coupons_list.invalid .coupons_list_right p,
.coupons_list.invalid .coupons_list_right .p1 span,
.coupons_list.ed .coupons_list_right p,
.coupons_list.ed .coupons_list_right .p1 span{color: #999;}
.coupons_list_right .p2{height: 22px;}
.coupons_list_right .p2 span{height: 22px;width: 80px;display:block;margin: 0 auto;font-size: 12px;border: 1px solid #f00;border-radius: 22px;color: #f00;}
.coupons_list_right .p2.ed span{border: 1px solid #999;color: #999;}
.coupons_list_right .p2.ing span{color: #fff;background:#f00;}
.coupons_list_right .p3{font-size: 14px;}

.my_coupons{margin-top:50px;margin-bottom:60px}
.my_coupons_tab{background-color:white;text-align:center;margin-bottom: 8px;border-bottom:1px solid #eee;}
.my_coupons_tab a{display:block;line-height:40px;font-size:14px;position:relative;bottom:-1px;}
.my_coupons_tab a.cur{color: #ff2c2c;border-bottom: 3px solid #ff2c2c;}
.my_coupons_no{text-align:center;margin: 20px;}
.mt60{margin-top:60px;}
.mt80{margin-top:80px;}
.my_coupons_no a{display: block;margin: 20px auto;border: 1px solid #999;line-height: 36px;border-radius: 5px;font-size: 16px;color: #666;}
.my_coupons_no a i{margin-right:10px;}
.my_coupons_no .p1{font-size: 60px;color: #ccc;}
.my_coupons_no .p2{font-size: 17px;color: #666;}

.coupons_detail{margin-top: 50px;margin-bottom: 60px;background: #fff;padding-bottom: 10px;}
.coupons_detail_top{background: #f80;text-align: center;padding: 10px 0;}
.coupons_detail_top p{color: rgba(255,255,255,.8);}
.coupons_detail_top .p1{font-size: 16px;}
.coupons_detail_top .p2{}
.coupons_detail_top .p3{border-top: 1px dashed rgba(255,255,255,.7);margin-top: 10px;padding-top: 10px;font-size: 20px;}
.coupons_detail_top a{display: block;width: 70%;margin: 10px auto;border: 2px solid #fff;height: 40px;line-height: 36px;font-size: 16px;color: #f60;background: #fff;border-radius: 40px;}
.coupons_detail_middle{margin: 20px;border: 1px solid #eee;border-radius: 10px;}
.coupons_detail_middle .con{border-bottom: 1px dashed #eee;padding: 10px 20px;}
.coupons_detail_middle p{color: #999;line-height: 2;}
.coupons_detail_middle .p1{color: #333;font-size: 15px;font-weight: bold;margin-top: 6px;}
.coupons_detail_middle .p2{}
.coupons_detail_middle .p3{}
.coupons_detail_middle .red{color: #f00;}

.integral_detail{margin-top: 50px;background: #fff;}
.tixian_list{border-bottom:1px solid #ddd;background:#fff;padding: 10px;overflow:hidden;line-height: 30px;}
.tixian_l{float:left;width: 70%;}
.tixian_r{float:right;width:20%;}
.tixian_l_top{font-size: 16px;color:#333;}
.tixian_l_bot{font-size: 13px;color:#666;}
.tixian_r_top{font-size: 14px;color:#333;text-align:right;}
.tixian_r_bot{font-size: 13px;color:#666;text-align:right;}
.tixian_red{color:#f00;}
.tixian_green{color:#44d177;}
.fxyj_tit{height: 45px;line-height: 40px;background:#fff;padding: 0 10px;border-bottom:5px solid #efeff4;font-size: 16px;}

.casedetail{margin-top:50px;margin-bottom:60px;}
.casedetail_status{background: #eaac52;color: #f1f1f1;padding: 20px;overflow: hidden;}
.casedetail_status img{width: 150px;float: right;}
.cs_left{text-align: center;}
.cs_left .v1{color: #fff;font-size: 18px;}
.cs_left .v2{font-size: 12px;margin-top: 8px;color: #fff;}
.cs_left .v20{margin-top: 20px;}

.casedetail_address{background: #fff;padding: 10px;font-size: 14px;color: #666;}
.casedetail_address img{width: 20px;float: left;margin-top: 16px;}
.cs_middle{margin-left: 37px;}
.cs_middle .v2{margin-top: 5px;}

.cl_more{text-align: left;}
.cl_more span span{color: #f00;font-size: 18px;margin-right: 5px;}

.casedetail_remark{background: #fff;margin-top: 6px;padding: 10px;font-size: 12px;line-height: 2;}
.casedetail_remark div{color:#999}
.casedetail_remark div span{font-size:18px;color:#f00;}
.casedetail_btns{position: fixed;width: 100%;left: 0;bottom:0;background: #fff;padding: 10px;border-top: 1px solid #eee;}
.casedetail_btns .btn{margin-left: 10px;display: inline-block;padding: 0 8px;line-height: 30px;border: 1px solid #ccc;border-radius: 5px;float: right;}
.casedetail_btns .btn_tran{background: #eaac52;color: #fff;border-color: #eaac52;}

.my_spread{background-repeat:no-repeat;background-image: url(../images/img_shares.jpg);background-position: bottom;width: 100%;height: 100%;position: fixed;top: 50px;background-size: 100% 100%;}
.my_spread_share{padding: 20px;background: #fff;width: 260px;margin: 70% auto 0;height: 260px;border-radius: 20px;}
.my_spread_share img{padding: 12px;border: 1px solid #feca16;border-radius: 20px;display: block;width: 100%;}
.my_spread_btn{display:block;width: 200px;height: 40px;line-height: 40px;border: 1px solid #fff;margin: 20px auto 0;color: #feca16;background: #fff;font-size: 16px;}

#my-prompt-share{}
#my-prompt-share .am-modal-dialog{background: transparent;}
#my-prompt-share img{float: right;}
#my-prompt-share .title{color: #fff;font-size:25px;text-align: left;clear: both;margin-top: 120px;}

.am-datepicker tr.am-datepicker-header{background: #eee;}
.am-datepicker td.am-datepicker-old, 
.am-datepicker td.am-datepicker-new,
.am-datepicker td span.am-datepicker-old{color: #999}
.am-datepicker .am-datepicker-dow,
.am-datepicker td.am-active, 
.am-datepicker td.am-active:hover,
.am-datepicker td span.am-active{color: #ff2c2c}

.am-ucheck-checkbox:checked + .am-ucheck-icons, .am-ucheck-radio:checked + .am-ucheck-icons{color: #ff2c2c!important}
.am-ucheck-icons{color: #ccc;font-size:15px;}

/* 选择规格弹性 */
.detail-alert{position: fixed;width: 100%;height: 100%;left: 0;background: rgba(0, 0, 0, .5);bottom: 0;}
.detail-alert.show{top: 0;}
.detail-alert.hide{top: 100%;}
.detail-select-spec{position: fixed;bottom: 0px;width: 100%;background: #fff;transition: all 0.25s ease-in-out;z-index: 10;}
.detail-select-spec.hide{bottom: -400px;}
.detail-select-spec .close{float: right;margin-top: 10px;margin-right: 10px;}
.detail-select-spec .close text{ display: inline-block; width: 20px;height:2px; background: #666;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);}
.detail-select-spec .close text:after{content:'/';display:block;width: 20px;height:2px; background: #666;-webkit-transform: rotate(-90deg);}
.dss-price{padding: 10px;border-bottom: 1px solid #f5f5f5;margin-bottom: 30px;}
.dss-price img{width: 100px;height: 100px;margin-top: -40px;margin-right: 20px;float: left;border: 1px solid #ccc;}
.dss-price .t1{display: block;}
.dss-price .t11{font-size: 18px;color: #e80a00;}
.dss-price .t2{color: #999;}
.dss-type{padding: 5px 10px;}
.dss-form .title{color: #666;margin-bottom: 5px;margin-left: 5px;}
.dss-type .tab{overflow: hidden;}
.dss-type .tab text{padding: 5px 10px;background: #ebebeb;margin: 5px;border-radius: 3px;display: block;float: left}
.dss-type .tab text.hover{background: #ff2c2c;color: #fff;}
.dss-button{background: #ff2c2c;color: #fff;height: 44px;line-height: 44px;border-radius: 0;margin-top: 20px;display: block;width: 100%;border: none 0;font-size: 18px;}
.dss-button:after{border:0;}

/*选择城市*/
.location_address{line-height: 36px;margin-top: 50px;font-size: 13px;}
.location_address .current{background: #fff;border-bottom: 1px solid #ddd;padding: 0 10px;}
.location_address .current span{color: #ff2c2c;}
.location_address .title{margin-top: 5px;padding: 0 10px;}
.location_address ul{background: #fff;text-align: center;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.location_address ul li{border-right:1px solid #eee;border-bottom: 1px solid #eee;}
.location_address ul li a{display:block;}
.location_address .ul_search li a{color: #ff2c2c;}
.location_address .ul_detial{border-bottom: none 0;overflow: hidden;}
.location_address .ul_detial li{float: left;width: 25%;}
.location_address .ul_detial li.li0{height: 74px;line-height: 74px;font-size: 30px;font-family: Arial;}
.location_address .ul_detial li.li0 a{color: #999;}


.star{overflow: hidden;text-align: center;margin: 0 auto;background: #fff;padding: 10px 0 5px;}
.star li {display: inline-block;height: 26px;width: 26px;background-color: #CCC;margin-right: 4px;background: url(../images/no-star.png) no-repeat;background-size: 100% 100%;}
.star li.active{background-image: url(../images/full-star.png);}


/*---------------新增收货地址---------------------*/

#person_added_address{margin-top:0px;font-size: 14px;margin-bottom:60px;}
#person_added_address .input_box{line-height: 60px;padding: 0 10px;background: #fff;}
#person_added_address .input_box .input_text{border:0;width:80%;border-bottom: 1px solid #e3e3e3;border-radius: 0;}
#person_added_address .input_box .input_outer{width: 20%;color: #232323;border-bottom: 1px solid #e3e3e3;}
#person_added_address .input_box .area{text-align: right;border-bottom: 1px solid #e3e3e3;display: block;}
#person_added_address textarea{width: 100%;background: #fff;border:0;padding:10px;}
#person_added_address .box{height: 50px;line-height: 50px;padding:0 10px;background: #fff;margin:10px 0; }
#person_added_address .box .default{color: #232323;margin-left:15px;}
#person_added_address .box .radio_box{ display:inline-block; position:relative;margin-top:13px;}
#person_added_address .box .radio_box label{max-width:22px;width:22px; height:22px; position:absolute; border:2px solid #b2b2b2; border-radius:50%; background:#fff; cursor:pointer;}
#person_added_address .box .radio_box label{top:10px; left:0;}
#person_added_address .box .radio_box label:after{ content:''; width:10px; height:6px; position:absolute; top:4px; left:3px; border:2px solid #fff; border-top:none; border-right:none; transform:rotate(-45deg); /*-webkit-transform:rotate(-45deg);*/}
#person_added_address .box .radio_box label:hover:after{border-top:none; border-right:none;}
#person_added_address .box .radio_box input:checked + label{background: #de0302;border: 2px solid #de0302;}
#person_added_address .box .radio_box input:checked + label:after{ opacity:1;border-top:none; border-right:none;}
#person_added_address .determine{padding:0;text-align: right;border:0;position: fixed;bottom: 0;left: 0;width:100%;}
#person_added_address .determine .btn{color:#fff;width:100%;isplay:block;margin-bottom: 0;font-size: 16px;font-weight: 400;line-height:40px;text-align: center;background:#ec0000; }

.setup_mobile{margin-top:55px;}
.hov_tab2 form ul{background:#fff;}
.hov_tab2 form li{height:50px;line-height:50px;border-bottom:1px solid #eee;font-size:16px;}
.hov_tab2 form li label{float:left;width: 28%;text-align: right;}
.hov_tab2 form li input{float:left;width:72%;border:0;height:48px;line-height:48px;outline: none 0;}

.hov_tab2 form li.li1 input{float:left;width:42%;}
.hov_tab2 form li.li1 img{float:left;width:100px;height:40px;margin-top:5px;}
.hov_tab2 form li.li2 input{float:left;width:42%;}
.hov_tab2 form li.li2 a{
	float:left;
	width:100px;
	height:30px;
	margin-top:10px;
	color:#fff;
	background: #ff2c2c;
	line-height:30px;
	border-radius:5px;
	text-align:center;
	}
	.hov_tab2 form li.li2 a.glay{background:#999;}
	.login1_btn{
	display:block;
	width:90%;
	height:40px;
	line-height:40px;
	background: #ff2c2c;
	color:#fff;
	text-align:center;
	font-size:20px;
	margin:10px auto;
	border-radius:5px;
	}



.sp_list{position:relative;background:#fff;margin: 10px;}
.sp_cont{/* width:94%; */padding: 10px;overflow:hidden;}
.sp_cont .sp_pic{width:100%;height: 120px;}
.sp_label{
  position:absolute;
  left: 0px;
  top: 10px;
  background:rgba(255,149,43,0.9);
  color:#fff;
  font-size:14px;
  height: 25px;
  line-height: 25px;
  padding: 5px;
  padding: 0 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  }
.sp_cont_bot{overflow:hidden;}
.sp_cont_bot_l{float:left;width:60%;}
.sp_cont_bot_l 
.sp_cont_bot_r{float:right;width:37%;}
.sp_tit{font-size: 15px;line-height: 20px;height: 20px;overflow:hidden;margin-bottom: 5px;}
.sp_price{color:#d7161a;font-size: 16px;line-height: 16px;}
.price_icon{font-size: 14px;float:left;line-height: 20px;margin-right: 4px;color: #d7161a;}

.bottom{position:fixed;left:0;bottom:0;height: 50px;background:#fff;width:100%;border-top: 1px solid #ddd;}
.bot_l{
  float:left;
  width:20%;
  margin-left:3%;
  height: 50px;
  line-height: 50px;
  color:#d7161a;
  font-size: 20px;
  }
.bot_l .price_icon{line-height: 50px;}
.bot_r{float:right;}
.bot_r button{
  border-radius:0;
  width: 100px;
  height: 50px;
  background: #ff2c2c;
  color:#fff;
  font-size: 16px;
  line-height: 50px;
  padding: 0;
  border: none 0;
  }

.sp_cont_bot_r{float:right;margin-top: 8px;}
.sp_cont_bot_r .sp_btn{background:#0c7e4b;padding: 0 20px;border-radius: 30px;color:#fff;font-size: 14px;height: 30px;line-height: 30px;display: block;}

.sp_cont_bot_r1{float:right;width:33%;margin-top: 10px;height: 22px;overflow:hidden;}

.btn-minus,.btn-add{float:left;width: 20px;height: 20px;border-radius: 20px;line-height: 16px;text-align:center;display: block;font-size: 20px;}
.btn-minus{border:1px solid #333;}
.btn-add{border: 1px solid #ff2c2c;background: #ff2c2c;color:#fff;}
.buy-num-txt{float:left;width: 26px;text-align:center;min-height: 20px;line-height: 18px;border: none 0;outline: none 0;font-size: 16px;}
.item-center{width:100%;}

.product_share{
    margin-top: 50px;
}
.product_share_con1{
    background: #fff;
    overflow: hidden;
    padding: 10px;
}
.product_share_con1 .img{
    float: left;
    width: 30%;
}
.product_share_con1 .con{
    margin-left: 34%;
}
.product_share_con1 .con .p1{
    font-size: 18px;
}
.product_share_con1 .con .p2{
    color: #f00;
}
.product_share_con1 .con .p2 span{
    color: #f00;
    font-size: 28px;
}
.product_share_con1 .con .p2 em{
    font-style: normal;
    color: #999;
    margin-left: 5px;
    text-decoration: line-through;
}
.product_share_con1 .con .p3{}
.product_share_con1 .con .p3 span{
    background: #fcd9d9;
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    color: #fe4040;
    border-bottom: 2px;
}
.product_share_con2{
    background: #fcd9d9;
    margin: 15px;
    padding: 30px 40px;
}
.product_share_con2 .p1{
    text-align: center;
    font-size: 16px;
}
.product_share_con2 .p1 span{color:#f00;}
.product_share_con2 .imgs{
    text-align: center;
    margin-top: 15px;
}
.product_share_con2 .imgs .img0{
    position: relative;
    font-size: 10px;
}
.product_share_con2 .imgs .img0 em{position: absolute;top: 23px;left: 5px;width: 30px;background: #f00;color: #fff;border-radius: 10px;font-size: 12px;font-style: normal;}
.product_share_con2 .imgs .img_last{
    border: 1px dashed #f00;
    font-size: 21px;
    color: #f00;
    background: #fff;
    vertical-align: middle;
}
.product_share_con2 .imgs li{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #f00;
    border-radius: 50%;
}
.product_share_con2 .imgs li img{
  width:100%;
  border-radius: 50%;
}
.product_share_con2 .imgs .img0 li{}
.product_share_con2 .imgs .img0 li .img{}
.product_share_con2 .imgs .img_last li{}
.product_share_con2 .imgs .img_last li img{}
.product_share_con3 {
    margin: 15px;
}
.product_share_con3 .btn{
    display: block;
    background: #ff5050;
    text-align: center;
    color: #fff;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    border-radius: 5px;
}

/*---------------水票充值样式修改9-25---------------------*/
.shuipiao_list{display: block;background-color: #04834b;margin: 6px;padding: 5px;color: #fff;overflow:hidden;}
.shuipiao_list img{float: left;width: 66px;height: 66px;margin-right: 5px;}
.shuipiao_list .d1{font-size: 14px;color: #fff;height: 100%;margin-left: 70px;margin-right: 70px;}
.shuipiao_list .d1 .p1{height:36px;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.shuipiao_list p{color: #FFF;line-height: 18px;}
.shuipiao_list .d1 p span{font-size: 28px;color: #fff;line-height: 36px;}
.shuipiao_list .d2{float: right;text-align: center;border-left: 1px solid #50b589;padding-left: 5px;}
.shuipiao_list .d2 p{font-size: 19px;background: #50b589;text-align: center;width: 60px;padding: 5px;line-height: 19px;}
.shuipiao_list .d2 .p2{color: #ff4400;background-color: #fff;font-size: 12px;line-height: 18px;padding: 0;}

.share_apply{margin-top:50px;}
.share_apply_form{
    background: #fff;
    padding: 10px 10px 30px;
    font-size: 14px;
    }

.saf_list{overflow:hidden;border-bottom:1px solid #eee;height:45px;line-height:45px;}
.saf_list span{float:left;width:25%}
.saf_list .form-control{float:left;width:75%;color:#999;border:0;height:45px;line-height:45px;}
.saf_bot{height:45px;line-height:45px;font-size: 12px;color: #999;}
.saf_bot input{
    margin-top: -2px;
    vertical-align: middle;
    margin-right: 3px;
}
.saf_bot a{color:#024b8a;}
.saf_btn{
    display: block;
    background: #f23031;
    text-align: center;
    font-size: 16px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    margin-top: 20px;
}

.share_apply_more{
    background: #fff;
    margin-top: 10px;
}
.share_apply_more .p_title{
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: url(../images/bg_share_title.png) center no-repeat;
    background-size: 45%;
    font-size: 16px;
    color: #fe9902;
    border-bottom: 1px solid #eee;
}
.share_apply_more .p_more{
    color: #999;
    font-size: 14px;
    padding: 12px;
    line-height: 18px;
}
.sam_list{
    display: table;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.sam_list dl{
    display: table-cell;
    text-align: center;
    box-sizing: border-box;
    border-left: 1px solid #eee;
    width: 33.3%;
    padding: 25px 0;
}
.sam_list dl:first-child{border-left:none 0;}
.sam_list dl dt img{
    width: 32%;
}
.sam_list dl dd{}
.sam_list dl dd.dd1{
    font-size: 15px;
}
.sam_list dl dd.dd2{
    color: #888;
    margin-top: 5px;
    line-height: 16px;
}

.apply_result{text-align:center;margin-top: 50px;background: #fff;overflow: hidden;}
.apply_result img{
    margin: 40px auto 20px;
    width: 150px;
}
.apply_result h5{
    font-size: 16px;
}
.apply_result p{
    font-size: 13px;
    color: #999;
    margin: 20px 30px;
}
.apply_result .btn{
    width: 170px;
    background: #ff3737;
    display: block;
    margin: 40px auto 60px;
    height:  46px;
    line-height: 46px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.shop_groom_title{border-bottom:1px solid #d8d8d8;height:0;padding-top: 20px;margin-bottom: 20px;text-align: center;position: relative;}
.shop_groom_title p{font-size: 14px;background: #f4f4f4;position: absolute;top: 10px;width: 80px;left: 50%;margin-left: -40px;color: #999;}
