html,
body {
    height: 100%;
 
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.login{
      background-image: url(../images/bg.jpg);
      background-repeat: no-repeat;
}
.logo{
    width: 450px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    color: #fff;
    font-weight:500;
}
.logo img{
    width: 250px;
}
.site-login {
   margin-top: 160px;
   
}
.frame{
    border:#C7C7C7 1px solid;
    width: 950px;
    height: 500px;
    margin: 0 auto;
    background: #F9F9F9;
        border-radius: 20px;
}
.frame form{
 margin-top: 100px;
}
.captcha{
    /*width: 60%;*/
   padding:0px 0px 0px 0px;
}
.logincaptcha{
    padding-right: 0px;
    /*padding-left: 20px;*/
    background: #d9edf7;
        height: 47px;
         border-radius: 0px 25px 25px 0px;
             line-height: 54px;
}
.logincaptcha img{
 /*width: 60%;*/

}
.loginleft{
    padding: 20px;
    line-height: 450px;
        margin-left: 30px;
}
.formdiv{
    padding-left: 50px;
}
.form-control{
    height: 47px;
    border-radius: 40px;
    line-height: 47px;
     padding-left: 50px;
     font-size: 16px;
}
.ico_img{
    margin-top: 5px;
    padding-left: 10px;
}

    .field-loginform-username,.field-loginform-password{
        position: relative;
    }
    .ico_img{
        position: absolute;

    }
 
    .btn{
        color: #fff;
        width: 373px;
        text-align: center;
        text-indent: 0rem;
        font-size: 20px;
        height: 54px;
        background: #324dc4;
        color: #fff;
        border-radius: 40px;
        border: 0;
    }
    .help-block{
        padding-left: 25px;
        margin-bottom: 0px;
    }
    .field-loginform-verifycode .help-block{
            position: absolute;
    margin-top: 50px;
    }
   .field-loginform-verifycode .form-control{
     border-radius: 25px 0px 0px 25px;
   }
   .field-loginform-verifycode .ico_img{
        z-index: 10;
   }