@charset "UTF-8";
/*孕婴展皮肤*/
/*.explosin_banner{background-color: #64c7f4;}*/
.explosin_form h3{color: #64c7f4;}
.explosin_form .btn{background: #64c7f4;border-color: #64c7f4;}
.explosin_form .btn:hover{background-color: #7bcff6;border-color: #7bcff6;}
.promise{background-color: #f0faff;background-image: url(../images/img_promise.png);}
.explosin_nav .nav{border-color: #64c7f4;background: #f0faff;margin-top: -45px;}
.explosin_nav .nav li a{color: #64c7f4; border-bottom-color: #64c7f4;background-image:url(../images/bg_nav.png)}
.explosin_nav .nav li.li_top a i{border-bottom-color: #64c7f4;}