@charset "UTF-8";

/*积分夺宝界面*/

.g-content {

    width: 50%;

    height: auto;

    font-family: "微软雅黑", "microsoft yahei";

    margin-top:50px;float:left;
}

.g-content .g-lottery-case {

    width: 500px;

    height:500px;

    margin: 0 auto;

    overflow: hidden;

}



.g-content .g-lottery-case .g-left h2 {

    font-size: 20px;

    line-height: 32px;

    font-weight: normal;

    margin-left: 20px;
    text-align: center;

}



.g-content .g-lottery-case .g-left {

    width: 450px;

    float: left;

    margin-left:35px;


}



.g-lottery-box {

    width: 390px;

    height: 390px;

    margin-left: 48px;

    position: relative;

    background: url(../images/award/ly-plate-c.gif) no-repeat;

    background-size:390px 390px;

}



.g-lottery-box .g-lottery-img {

    width: 330px;

    height: 330px;

    position: relative;

    background: url(../images/award/bg-lottery.png) no-repeat;

    background-size:330px 330px;

    left: 30px;

    top: 30px;

}



.g-lottery-box .playbtn {

    width: 176px;

    height: 176px;

    position: absolute;

    top: 77px;

    left: 77px;

    background: url(../images/award/playbtn.png) no-repeat;

    background-size:176px 176px;

}
