@charset "UTF-8";
/*婚博会皮肤*/
/*.explosin_banner{background-color: #dd0c21;}*/
.explosin_form h3{color: #dd0d23;}
.explosin_form .btn{background: #d60c1a;border-color: #d60c1a;}
.explosin_form .btn:hover{background-color: #f23447;border-color: #f23447;}
.promise{background-color: #fff0f0;background-image: url(../images/img_promise.png);}
.explosin_nav .nav{border-color: #dd0c21; background: #fff0f0}
.explosin_nav .nav li a{color: #dd0c21; border-bottom-color: #dd0c21;background-image:url(../images/bg_nav.png)}
.explosin_nav .nav li.li_top a i{border-bottom-color: #df0b22;}