@charset "UTF-8";

/*公用 样式*/
body{margin: 0;padding: 0;font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif, simsun,宋体;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input
{margin:0;padding:0;}
body{max-width: 750px;margin: 0 auto;}
a{color:#333;}
a, a:link, a:visited {text-decoration:none;}
a:hover{color:#f60;}
input {outline: none;}
input::-webkit-input-placeholder {color: #cecdd0;}
input::-moz-placeholder {color: #cecdd0;}
input:-ms-input-placeholder {color: #cecdd0;}
li{list-style:none;}
img{border:none;}
.clear{clear:both;}

.bg_white{background: #fff!important;}
.bg_glay{background: #f0f0f0;}
.orange{color: #fc7202!important;}
.green{color: #368e36}
.glay{color: #666;}
.ellipsis{text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden}
.btn{font-size: 0.75rem;line-height: 22px;border-radius: 22px;min-width: 80px;background: #fc7203;color: #fff!important;padding: 0 1rem;box-shadow: none!important;display: inline-block;border: none 0;}
.btn.disabled, .btn:disabled{opacity: 1;background-color: #999;}
.btn_outline{border: 1px solid #ddd;background: transparent;color: #000!important;}
.btn_big{display: block;height: 44px;line-height: 44px;font-size: 1rem;width: 100%;border-radius: 5px;}
.btn_yzm{height: 44px;line-height: 44px;border-radius: 6px;background: #434343;font-size: 0.875rem;width: 114px;}
.loading_img{background: #f5f5f5}
.form-control:focus{box-shadow: none; border-color: #fc7203!important;}

/*广告图*/
.com_ad{padding: 0.625rem;}
.com_ad a{display: block;}
.com_ad a img{display: block;width: 100%;}
.com_ad2{}
.com_ad2 a{display: block;}
.com_ad2 a img{display: block;width: 100%;}
.index_ad{background: #fff;}
.index_ad a{display:block;}
.index_ad a img{display:block;width: 100%;border-radius:4px}

/*2张*/
.index_ad_2{padding: 8px;overflow: hidden;}
.index_ad_2 a{width: 50%;float: left;padding: 2px;}

/*3张*/
.index_ad_3{padding: 8px;overflow: hidden;}
.index_ad_3 a{width: 33.3%;float: left;padding: 2px;}

/*4张*/
.index_ad_4{padding: 0.5rem;overflow: hidden;}
.index_ad_4 a{width: 25%;float: left;padding: 2px;}

/*slider*/
.slider{padding: 0;}
.slider img{/* height: 150px; */width: 100%;}
.slider .carousel-indicators{}
.slider .carousel-indicators li{width: 8px;height: 8px;background: rgba(0,0,0,.5);border-radius: 8px;}
.slider .carousel-indicators li.active{width: 27px;background: #fff;}
.slider .carousel-inner{}

/*底部菜单*/
.footer_menu{height: 75px;margin-top: 0;}
.footer_menu ul{position: fixed;bottom: 0;width: 100%;background: #fff;border-top:1px solid #c5c5c5;z-index: 99;left: 0;padding: 10px 0;}
.footer_menu ul li{float: left;width: 25%;}
.menu_5.footer_menu ul li{width: 20%;}
.footer_menu ul li a{display: block;color: #999;}
.footer_menu ul li.active a{color: #fc7202;}
.footer_menu ul li a img{display: block;margin: 4px auto 0;width: 25px;height: 25px;}

.footer_menu ul li a .img_h{display: none;}
.footer_menu ul li.active a .img{display: none;}
.footer_menu ul li.active a .img_h{display: block;}
.footer_menu ul li a span{display: block;text-align: center;font-size: 0.75rem;line-height: 20px;}

/*头部*含返回*/
.head{background-color: #fff;border-bottom: 1px solid #f5f5f5;}
.head a{display: block;float: left;padding: 14px;}
.head a img{width: 15px;height: 15px;display: block;}
.head h2{text-align: center;font-size: 1.0625rem;line-height: 44px;margin: 0px 104px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.head a.a_right{float: right;padding: 0;padding-right: 10px;line-height: 44px;font-size: 0.875rem;}

/*成功弹框*/
.modal_success .modal-content{border-radius: 6px;border: none 0;}
.modal_success .modal-dialog{margin: 1rem;top: 100px;}
.modal_success .modal-header{padding: 14px;background: url(../images/bg_title.png) center no-repeat;height: 74px;background-size: cover;justify-content: start;border: none 0;}
.modal_success .modal-header .img{height: 49px;margin-right: 10px;}
.modal_success .modal-header .con{color: #fff;}
.modal_success .modal-header .con .p_title{font-size: 1.125rem;font-weight: bold;}
.modal_success .modal-header .con .p_more{font-size: 0.6875rem;opacity: 0.8;}

.modal_success .modal-body{padding: 16px 12px;}
.modal_success .modal-body .con_img{overflow: hidden;}
.modal_success .modal-body .img{height: 56px;border: 1px solid #dcdcdc;float: left;margin-right: 10px;}
.modal_success .modal-body .con_img .p1{font-size: 1rem;margin-top: 6px;line-height: 20px;}
.modal_success .modal-body .con_img .p2{font-size: 0.6875rem;color: #666;}
.modal_success .modal-body .con_img .p2 span span{font-size: 1rem;font-weight: bold;}
.modal_success .modal-body .con_img .p3{font-size: 0.625rem;color: #999;}
.modal_success .modal-body .con_img .p3 >span{text-decoration: line-through;}
.modal_success .modal-body .p4{height: 16px;line-height: 16px;text-align: center;border-radius: 16px;background: #ffe9d2;padding: 0 10px;font-size: 0.625rem;margin-top: 6px;display: inline-block;}
.modal_success .modal-body .con_more{margin-top: 18px;background: #fff1e5;font-size: 0.75rem;padding: 8px 12px;}
.modal_success .modal-body .con_more dl{margin: 0;margin-bottom: 4px;}
.modal_success .modal-body .con_more dl dt{font-weight: normal;float: left;}
.modal_success .modal-body .con_more dl dd{margin: 0;margin-left: 62px;}

.modal_success .modal-footer{border: none 0;justify-content: center;padding-top: 0;padding-bottom: 20px;}
.modal_success .modal-footer .btn{width: 50%;height: 36px;line-height: 36px;font-size: 1.0625rem;}

/*表单弹框*/
.modal_form .modal-content{border-radius: 6px;border: none 0;}
.modal_form .modal-dialog{top: 70px;}
.modal_form .modal-header{padding: 12px 16px;overflow: hidden;display: block;background: #f6f6f6;}
.modal_form .modal-header .img{height: 56px;border: 1px solid #dcdcdc;float: left;margin-right: 10px;}
.modal_form .modal-header .p1{font-size: 1rem;margin-top: 6px;line-height: 20px;}
.modal_form .modal-header .p2{font-size: 0.6875rem;color: #666;}
.modal_form .modal-header .p2 span span{font-size: 1rem;font-weight: bold;margin-right: 4px;}
.modal_form .modal-header .p3{font-size: 0.625rem;color: #999;}
.modal_form .modal-header .p3 >span{text-decoration: line-through;}
.modal_form .modal-header .p3 .s{text-decoration:none;}
.modal_form .modal-header .p4{height: 16px;line-height: 16px;text-align: center;border-radius: 16px;background: #ffe9d2;padding: 0 10px;font-size: 0.625rem;margin-top: 6px;display: inline-block;}
.modal_form .modal-body{padding: 16px 16px;}
.modal_form .form-group{margin-bottom: 12px;}
.modal_form .form-group.form_yzm{}
.modal_form .form-control{padding: 0 12px;height: 44px;line-height: 42px;border-color: #d7d7d7;font-size: 0.875rem;}
.modal_form .form_yzm .form-control{width: 60%;}
.modal_form .form-group .btn_yzm{
    width: 35%;
}
.modal_form .btn_big{margin-top: 20px;}
.modal_form .dl_more{margin: 12px 0 12px 6px;}
.modal_form .dl_more dt{}
.modal_form .dl_more dt img{height: 12px;margin-right: 6px;float: left;margin-top: 4px;}
.modal_form .dl_more dd{margin-left: 18px;font-size: 0.75rem;color: #666;}

/*优惠劵成功弹框*/
.modal_couponsuc{}
.modal_couponsuc .modal-dialog{margin: 1rem;margin-top: 40px;}
.modal_couponsuc .modal-content{background: url(../images/bg_coupon.png) center no-repeat;background-size: contain;padding: 88px 19% 0;height: 470px;}
.modal_couponsuc .modal-body{padding: 0;}
.modal_couponsuc .modal-body .p1{text-align: center;font-size: 1.1875rem;font-weight: bold;}
.modal_couponsuc .modal-body .p2{font-size: 0.8125rem;text-align: center;}
.modal_couponsuc .modal-body .con{margin-top: 20px;color: #666;font-size: 0.625rem;}
.modal_couponsuc .modal-body .con .p{font-weight: bold;font-size: 0.75rem;color: #000;margin-bottom: 3px;}
.modal_couponsuc .modal-body .con .d_con{overflow: auto;height: 90px;}
.modal_couponsuc .modal-body .con .a{display: block;margin-top: 4px;text-decoration: underline;}
.modal_couponsuc .modal-body .btn{color: #fc7203!important;background: url(../images/bg_coupon_btn.png);background-size: cover;height: 48px;line-height: 40px;width: 185px;display: block;margin: 24% auto 0;font-size: 1.125rem;font-weight: bold;}
.modal_couponsuc .modal-body .p_more{color: #fff;font-size: 0.625rem;margin-left: -20px;margin-right: -25px;opacity: 0.8;line-height: 16px;}

/*文本提醒框*/
.modal_explain{}
.modal_explain .modal-dialog{margin: 6rem 10px 0;}
.modal_explain_sm.modal_explain .modal-dialog{margin: 80px 50px;}
.modal_explain .modal-content{}
.modal_explain .modal-header{height: 50px;line-height: 50px;font-size: 1rem;justify-content: center;padding: 0;font-weight: bold;background: #f6f6f6;}
.modal_explain .modal-header .p_title{display: block;}
.modal_explain .modal-body{font-size: 0.75rem;color: #999;max-height: 16rem;overflow: auto;margin-bottom: 1rem;}
.modal_explain_sm.modal_explain .modal-body{padding-top: 20px;}
.modal_explain .modal-body p{margin-bottom:10px}
.modal_explain_sm.modal_explain .modal-body p{text-align: center;font-size: 0.875rem;color: #666;}
.modal_explain .modal-footer{border: none 0;justify-content: center;padding-bottom: 35px;padding-top: 0;}
.modal_explain .modal-footer .btn{width: 50%;height: 36px;line-height: 36px;font-size: 1.125rem;min-width: 100px;}

/*文本提醒框-门票说明*/
.modal_ticket{}
.modal_ticket .modal-dialog{margin: 80px 10px;}
.modal_ticket .modal-content{}
.modal_ticket .modal-header{height: 50px;line-height: 50px;font-size: 1rem;padding: 0 16px;font-weight: bold;background: #f6f6f6;}
.modal_ticket .modal-header .p_title{}
.modal_ticket .modal-header .close{margin-top: 0;padding: 10px 15px;font-size: 1.75rem;opacity: 1;}
.modal_ticket .modal-body{font-size: 0.75rem;color: #999;padding-bottom: 30px;padding-top: 20px;min-height: 200px;}
.modal_ticket .modal-body p{margin-bottom:10px}

/*确定订单底部操作按钮*/
.case_btns{border-top:1px solid #dcdcdc;height: 51px;}
.case_btns_con{position:fixed;bottom: 0;left: 0;width: 100%;background:#fff;line-height: 50px;height: 50px;}
.case_btns_con .btn{width: 116px;float: right;height: 50px;line-height: 50px;border-radius: 0;font-size: 1rem;}
.case_btns_con p.p{padding: 0 10px;font-size: 0.875rem;color: #666;}
.case_btns_con p.p span{font-size: 0.75rem;}
.case_btns_con p.p span span{font-size: 1.125rem;font-weight: bold;}