[class|=switch] {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 28px;
	border-radius: 16px;
	line-height: 32px;
	-webkit-tap-highlight-color:rgba(153,153,153,0);
}
.switch-on {
	border: 0px solid white;
	box-shadow: white 0px 0px 0px 0px inset;
	/*transition: border 0.4s, box-shadow 0.2s,*/ background-color 1.2s;
	background-color: white;
	cursor: pointer;
}
.slider {
	position: absolute;
	display: inline-block;
	width: 22px;
	height: 22px;
	background: white;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	left: 3px;
    top: 3px;
}
.switch-on .slider {
	left: 30px;
	transition: background-color 0.4s, left 0.2s;
}
.switch-off {
	border: 0px;
	/*transition: border 0.4s, box-shadow 0.4s;*/
	background-color: rgb(153, 153, 153);
	box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
	background-color: rgb(153, 153, 153);
	cursor: pointer;
}
.switch-off .slider {
	left: 3px;
	transition: background-color 0.4s, left 0.2s;
}
.switch-on.switch-disabled{
	opacity:.5;
	cursor:auto;
}
.switch-off.switch-disabled{
	background-color:#F0F0F0 !important;
	cursor:auto;
}