@charset "UTF-8";
body{background-color: #f0f0f0;}

.com_title{background: #fff;padding: 0 0.625rem;}
.com_title_con{border-bottom: 1px solid #e5e5e5;line-height: 3.125rem;overflow: hidden;}
.com_title_con a{float: right;font-size: 0.75rem;color: #999;width: 100px;text-align: right;}
.com_title_con .s_tag{display: block;background: url(../images/bg_icon.png) center no-repeat;color: #fff;width: 1.5rem;height: 1.5rem;line-height: 1.75rem;text-align: center;background-size: cover;font-size: 0.8125rem;float: left;margin-top: 0.6rem;margin-right: 0.5rem;}
.com_title_con .s_title{display: block;font-size: 1rem;font-weight: bold;float: left;}

.com_morebtn{text-align: center;padding-bottom: 20px;}
.com_morebtn .btn{border: 1px solid #bfbfbf;font-size: 0.75rem;color: #666!important;line-height: 28px;background: transparent;min-width: 120px;}
.com_morebtn .btn img{height: 12px;margin-top: -2px;margin-left: 6px;}

.promise{background: #eef8ef;padding: 10px;margin-top: 10px;}
.promise_ul{}
.promise_ul li{float: left;width: 33.3%;display: block;text-align: center;}
.promise_ul li img{display: block;width: 42px;height: 42px;margin: 0 auto 6px;}
.promise_ul li .p1{font-size: 0.875rem;font-weight: bold;}
.promise_ul li .p2{font-size: 0.625rem;color: #1a1a1a;}

.index_news{/* margin-top: 10px */}
.index_news_list{background: #fff;}
.inl_con{padding: 12px 10px;display: block;overflow: hidden;}
.inl_con .img{float: right;width: 120px;height: 85px;border-radius: 4px;}
.inl_con .con{margin-right: 140px;}
.inl_con .con .p_name{font-size: 0.9375rem;color: #444;line-height: 21px;margin-top: 6px;}
.inl_con .con .p_time{font-size: 0.6875rem;color: #999;margin-top: 6px;}
.inl_con .con .p_time .s1{display: inline-block;line-height: 18px;height: 20px;border: 1px solid #d2d2d2;border-radius: 20px;padding: 0 6px;margin-right: 6px;}
.inl_con .con .p_time .s2{}

.index_floor{background:#fff;}
.index_floor .com_title_con{line-height: 43px;}

.com_productlist{padding: 0 5px 5px;background: #fff;}
.com_productlist li{float: left;width: 50%;padding: 0 0.375rem 0.75rem;}
.com_productlist li a{display: block;position: relative;}
.com_productlist li a .product_img{display: block;width: 100%;height: 124px;text-align: center;vertical-align: middle;line-height: 124px;}
.com_productlist li a .product_img img{display: inline-block;max-width: 100%;height: 124px;}
.com_productlist li a .product_name{font-size: 0.875rem;padding-top: 5px;}
.com_productlist li a .shop{font-size: 0.6875rem;color: #666;margin-top: 2px;}
.com_productlist li a .shop span{color: #000;}
.com_productlist li a .shop img{width: 13px;height: 13px;margin-top: -2px;margin-right: 5px;}
.com_productlist li a .product_logo{}
.com_productlist li a .product_logo img{height: 20px;}
.com_productlist li a .product_tag{height: 1rem;line-height: 1.125rem;text-align: center;border-radius: 1rem;background: #ffe9d2;padding: 0 0.625rem;font-size: 0.625rem;margin-top: 0.375rem;display: inline-block;}
.com_productlist li a .product_tag img{height: 10px;/* margin-top: -2px; */margin-right: 4px;}
.com_productlist li a .product_price{font-size: 0.625rem;margin-top: 6px;}
.com_productlist li a .product_price span{font-size: 1rem;}
.com_productlist li a .product_price span.s1{font-size: 0.75rem;color: #434343;}
.com_productlist li a .product_price span.s{text-decoration: line-through;margin-left: 5px;}
.com_productlist li a .product_handsel{font-size: 0.75rem;margin-top: 0.5rem;}
.com_productlist li a .product_handsel span span{font-size: 1rem;}
.com_productlist li a .product_handsel span.s{font-size: 0.75rem;color:#666;margin-left: 3px;}
.com_productlistone{}
.com_productlistone li{width: 100%;}
.com_productlistone li a .product_img{width: 39%;height: auto;line-height: 100px;max-width: 180px;}
.com_productlistone li a .product_con{margin-left: 41%;}
.com_productlistone li a .product_name{font-weight: bold;line-height: 18px;margin-bottom: 0.375rem;padding-top: 4px;}
.com_productlistone li a .product_price{margin-top: 0;color: #666;}
.com_productlistone li a .product_price span{font-size: 0.625rem;}
.com_productlistone li a.btn{margin-top: -24px;z-index: 1;display: inline-block;}

.index_groom{padding: 10px;background: #fff;}
.index_groom_top{}
.igt_left{float: left;width: 44.3%;display: block;}
.igt_left img{display: block;width: 100%;}
.igt_right{margin-left: 44.8%;}
.igt_right a{display: block;margin-bottom: 2px;}
.igt_right a img{display: block;width: 100%;}
.igt_right .com_ad{}

/*tab左右滑动*/
.topNav {width: 100%;overflow: hidden;background: #fff;}
.topNav .swiper-slide {padding: 0 5px;min-width: 5rem;width: auto;background: #fff;font-size: 0.875rem;text-align: center;}
.topNav .swiper-slide span{transition:all .3s ease;height: 44px;line-height: 40px;display: inline-block;color: #666;text-align: center;border-bottom:2px solid transparent;border-top: 2px solid transparent;}
.topNav .active span{color: #fa6815;border-bottom-color: #fa6815;}


.nav-pills{padding: 12px 0;border-bottom: 1px solid #dcdcdc;background: #fff;}
.nav-pills li{border-left: 1px solid #dcdcdc;}
.nav-pills li:first-child{border-left:none 0;}
.nav-pills li a{font-size: 0.9375rem;display: block;text-align: center;padding: 0;background: none!important;border: none 0!important;line-height: 18px;}
.nav-pills .nav-link.active{color: #fc7202;position: relative;}
.nav-pills .nav-link.active:after{content:'';background: url(../images/bg_btn_border.jpg) no-repeat;position: absolute;bottom: -13px;width: 89px;height: 4px;left: 50%;margin-left: -45px;}
.nav-pills li .nav-link.active img{display: inline;}
.nav-pills li a img{height: 18px;margin-top: -2px;margin-right: 4px;display: none;}
.nav-pills li a span{}
.tab-content{}

.index_prestore{background: #fff}
.index_prestore_tab{}
.index_prestore_tab li{}
.index_prestore_tab li a{}
.index_prestore_tab li a img{}
.index_prestore_tab li a span{}
.index_prestore_list{padding-top: 12px;}

.header{padding: 6px 10px 4px;background: #fff;height: 42px;}
.header_city{height: 24px;line-height: 22px;border-radius: 24px;border: 1px solid #bfbfbf;font-size: 0.75rem;color: #666;padding: 0 12px;min-width: 80px;margin-top: 4px;display: inline-block;}
.header_city:after{content:'';display: inline-block;width: 0;height: 0;border: 5px solid transparent;border-top-color: #999;/* margin-top: 9px; */vertical-align: middle;margin-left: 3px;}
.header_logo{display: block;margin-right: 100px;}
.header_logo img{height: 32px;}
.header_jia{background:transparent;z-index: 1;width: 100%;position: absolute;}
.header_jia .header_city{background: rgba(0,0,0,.2);color:#fff;border-color: rgba(255,255,255,.5);}
.header_jia .header_city:after{border-top-color: #fff;}

.column_menu_ul{padding: 0.5rem;overflow: hidden;}
.column_menu_ul li{float: left;width: 25%;padding-top: 0.5rem;}
.column_menu_ul li a{display: block;}
.column_menu_ul li a img{display: block;margin: 0 auto;height: 45px;}
.column_menu_ul li a span{display: block;text-align: center;font-size: 0.8125rem;line-height: 2.25rem;color: rgba(255,255,255,.8);}

/*家博会*/
.column_form{background: #fff;}
.column_form_con{padding: 0.625rem 0.75rem 1rem;}
.cfc_more{}
.cfc_more{background: #fff1e5;font-size: 0.875rem;padding: 8px 12px;border: 1px dashed #ea8872;border-radius: 3px;color: #e74435;}
.cfc_more dl{margin: 0;margin-bottom: 4px;}
.cfc_more dl dt{font-weight: normal;float: left;}
.cfc_more dl dd{margin: 0;margin-left: 70px;}

.cfc_form{}
.cfc_form .input-group{margin-top: 12px;border-radius: 2px;}
.cfc_form .input-group-prepend{border: 1px solid #d7d7d7;width: 40px;border-right: none 0;border-radius: 4px 0 0 4px;background: #fff}
.cfc_form .input-group-prepend img{height: 16px;margin: 13px 10px;}
.cfc_form .form-control{border: 1px solid #d7d7d7;border-left: none 0;padding: 0;font-size: 0.875rem;height: 44px;line-height: 42px;outline: none 0;}
.cfc_form .form-control:focus{box-shadow: none;border-color: #d7d7d7!important;}

.cfc_form .input_yzm .form-control{margin-right: 10px;}
.cfc_form .btn_yzm{border-radius: 5px!important;}
.cfc_form .btn_big{margin-top: 12px;background: url(../images/bg_btn.png) center no-repeat!important;background-size: cover;height: 49px;line-height: 49px;}
.cfc_form .p_more{font-size: 0.75rem;margin-top: 8px;color: #666;}
.cfc_form .p_more a{text-decoration:underline;}

.com_brandlist{padding: 0 6px 12px;}
.com_brandlist li{width: 33.3%;padding: 6px;float: left;}
.com_brandlist li a{display: block;border: 1px solid #ddd;}
.com_brandlist li a img{width: 100%;height: 52px;}

.column_fitup{}
.column_fitup_ul{background: #fff;padding: 10px;padding-bottom: 6px;overflow: hidden;}
.column_fitup_ul li{}
.column_fitup_ul li.li1{margin-bottom: 4px;}
.column_fitup_ul li.li2{float: left;width: 66.2%;}
.column_fitup_ul li.li3{float: left;width: 32.4%;margin-left: 4px;margin-bottom: 4px;}
.column_fitup_ul li.li4{float: left;width: 32.4%;margin-left: 4px;margin-bottom: 6px;}
.column_fitup_ul li a{display: block;width: 100%;background: none center no-repeat;}
.column_fitup_ul li.li1 a{height: 156px;}
.column_fitup_ul li.li2 a{height: 156px;}
.column_fitup_ul li.li3 a{height: 76px;}
.column_fitup_ul li.li4 a{height: 76px;}

/*索票地址页*/
.ticketaddress{background: #fff;}
.ticketaddress_con1{padding: 10px;border: 1px solid #eee;overflow: hidden;}
.ticketaddress_con1 .img{float: left;height: 120px;}
.ticketaddress_con1 .con{margin: 20px 10px 10px 136px;font-size: 0.6875rem;color: #666;line-height: 20px;}
.ticketaddress_con1 .con .p1{font-size: 1rem;color: #333;margin-bottom: 8px;}
.ticketaddress_con2{font-size: 0.75rem;color: #666;padding: 10px 12px 16px;}
.ticketaddress_con2 .p{}
.ticketaddress_con2 .b{}
.ticketaddress_con2 form{margin-top: 10px;}
.ticketaddress_con2 form .textarea{width: 100%;background: #f9f9f9;border: 1px solid #d7d7d7;height: 100px;padding: 10px;}
.ticketaddress_con2 form .btn{margin-top: 10px;}

/*确认订单*/
.casesure_product .com_productlistone{padding-top: 10px;padding-bottom: 0;}
.casesure_paytype{padding: 0 10px;background: #fff;margin-top: 6px;}
.casesure_paytype .p1{border-bottom: 1px solid #f0f0f0;line-height: 56px;font-size: 1rem;}
.casesure_paytype_list{}
.casesure_paytype_list .list{border-top: 1px solid #f0f0f0;font-size: 0.9375rem;color: #666;padding: 10px 2px;background: url(../images/icon_select.png) right center no-repeat;background-size: 16px;}
.casesure_paytype_list .list.active{background-image:url(../images/icon_selected.png)}
.casesure_paytype_list .list img{width: 30px; height: 30px;margin-right: 10px}
.casesure_paytype_list .list span{}

/*优惠劵使用规则*/
.coupondetail_con{padding: 10px;background: #fff;}
.coupondetail_shop{padding-bottom: 10px;border-bottom: 1px solid #dcdcdc;}
.coupondetail_shop .img{height: 56px;border: 1px solid #dcdcdc;float: left;margin-right: 6px;margin-top: 2px;}
.coupondetail_shop .p1{font-size: 1rem;/* margin-top: -2px; */line-height: 20px;display: block;}
.coupondetail_shop .p2{font-size: 0.6875rem;color: #666;}
.coupondetail_shop .p2 span span{font-size: 1rem;font-weight: bold;margin-right: 4px;}
.coupondetail_shop .p3{font-size: 0.625rem;color: #999;}
.coupondetail_shop .p3 >span{text-decoration: line-through;}
.coupondetail_shop .p3 .s{text-decoration:none;}
.coupondetail_shop .p4{height: 16px;line-height: 16px;text-align: center;border-radius: 16px;background: #ffe9d2;padding: 0 10px;font-size: 0.625rem;margin-top: 2px;display: inline-block;}
.coupondetail_shop .a_assess{display: block;}
.coupondetail_shop .a_assess em{width: 10px;height: 10px;margin: 2px;background: url(../images/icon_star.png) center no-repeat;background-size: cover;display: inline-block;}
.coupondetail_shop .a_assess em.active{background-image: url(../images/icon_stared.png);}
.coupondetail_shop .a_assess span{font-size: 0.625rem;color: #666;margin-left: 5px;}
.coupondetail_list{margin-top: 6px;background: #fff}
.coupondetail_more{padding: 10px 0 4px;font-size: 0.75rem;}
.coupondetail_more  p{margin-bottom: 4px;}
.coupondetail_more .con{color: #666;line-height: 16px;}

/*优惠劵*/
.com_coupon{margin: 0 5px;}
.com_coupon_con{margin: 10px 5px;background: url(../images/bg_coupon2.png) center no-repeat;background-size: 100% 100%;height: 94px;}
.com_coupon_con.ed{background-image: url(../images/bg_coupon2_ed.png)}
.com_coupon_con .a{display: block;width: 23.7%;color: #fff;padding: 26px 18px;letter-spacing: 1px;font-weight: bold;line-height: 20px;font-size: 1rem;text-align: center;}
.com_coupon_con .img{display: block;width: 29%;max-width: 124px;float: left;padding: 27px 10px;}
.com_coupon_con .con{margin-left: 31.5%;margin-right: 24.5%;}
.com_coupon_con .con .p1{font-size: 0.8125rem;}
.com_coupon_con .con .p1 span{font-size: 36px;font-weight: bold;margin-right: 5px;}
.com_coupon_con .con .p2{font-size: 0.75rem;color: #666;margin-top: -7px;}
.com_coupon_con .con .p3{font-size: 0.625rem;color: #999;}

.com_no{text-align: center;padding: 40px;}
.com_no img{height: 120px;}
.com_no .p1{font-size: 1rem;margin-top: 6px;}
.com_no .p2{font-size: 0.75rem;color: #666;}
.com_no .btn{width: 100px;height: 28px;line-height: 28px;font-size: 0.875rem;margin-top: 10px;}

/*免费索票*/
.explosion_form{height: 365px;background: none center no-repeat;background-size: cover;padding: 15px 14px;}
.explosion_form .p_num{text-align: center;}
.explosion_form .p_num span{display: inline-block;width: 24px;height: 24px;line-height: 24px;background: #fc7203;border-radius: 4px;margin: 0 4px;color: #fff;font-size: 1rem;font-weight: bold;}
.explosion_notice{margin: 14px;line-height: 20px;overflow: hidden;color: #656565;font-size: 0.8125rem;}
.explosion_notice span{margin-right:5px}

.explosion_ad{background: none bottom center no-repeat;background-size: 100% auto;padding-bottom: 30px;}
.explosion_title{text-align: center;color: #fff;font-size: 23px;padding: 10px 0;}
.explosion_title img{width: 34px;height: 34px;}
.explosion_title span{margin: 0 10px;font-weight: bold;}

.explosion_ad_list{padding: 6px;padding-bottom: 0;}
.explosion_ad_list li{padding: 0px 6px 20px;width: 50%;float: left;}
.explosion_ad_list li a{display: block;}
.explosion_ad_list li a img{width: 100%;}

.explosion_prestore{background: #fff none bottom center no-repeat;padding: 20px 0 30px;background-size: 100% auto;}
.explosion_title2{padding: 0 10px;}
.explosion_title2 .btn{float: right;color: #666!important;border: 1px solid #dcdcdc;background-color: #fff;padding: 0 5px;min-width: 70px;}
.explosion_title2 img{width: 23px;height: 23px;margin-right: 5px;}
.explosion_title2 span{font-size: 1.125rem;font-weight: bold;}

.com_productlisttwo li a .product_name{background: rgba(0,0,0,.4);padding: 0 10px;margin-top: -1.5rem;line-height: 1.5rem;height: 1.5rem;position: relative;z-index: 1;color: #fff;}
.com_productlisttwo li a .product_handsel{margin-top:5px;}
.com_productlisttwo li a .product_price{margin-top: 0;color: #666;}
.com_productlisttwo li a .product_price span{font-size: 0.625rem;}
.com_productlisttwo li a.btn{display: block;text-align: center;height: 28px;line-height: 28px;font-size: 0.8125rem;margin-top: 8px;}

.explosion_brand{}
.explosion_brand .topNav{
    background: none;
}
.explosion_brand .topNav .com_tab{}
.explosion_brand .topNav .com_tab a{background: transparent;/* border-bottom: 1px solid #d05957; */border-bottom: 1px solid rgba(255,255,255,.3);}
.explosion_brand .topNav .com_tab a span{color: #fff;}
.explosion_brand .topNav .com_tab a.active span{color: #ffc000;border-bottom-color: #ffc000;}

.explosion_brand .tab-content{}
.explosion_brand .tab-content .tab-pane{}
.explosion_brand .tab-content .tab-pane active{}

.explosion_brand_con{padding-top: 5px;}
.explosion_brand_con .com_brandlist{}
.explosion_brand_con .com_brandlist li{}
.explosion_brand_con .com_brandlist li a{border: none 0;}

.explosion_news{padding: 10px 0;}
.explosion_news .swiper-container {width: 100%;height: 180px;}
.explosion_news .swiper-slide {display: -ms-flexbox;-ms-flex-pack: center;-ms-flex-align: center;}
.explosion_news .swiper-slide:not(.swiper-slide-active){transform: scale(0.9);}
.explosion_news .swiper-slide img{/*height: 100%;*/width: 100%;border-radius:5px;}

.explosion_map{padding: 10px;padding-bottom: 5px;}
.explosion_map img{width: 100%;border-radius: 10px;}

.explosion_promise{background: transparent;}
.explosion_promise .promise_ul{}
.explosion_promise li{}
.explosion_promise li img{}
.explosion_promise li .p1{color: #fff;}
.explosion_promise li .p2{color: rgba(255,255,255,.5);}
.explosion_phone{padding-bottom: 20px;}
.explosion_phone a{display: block;background: #fff;height: 36px;line-height: 36px;width: 86%;border-radius: 36px;text-align: center;font-size: 0.875rem;color: #fc7202;margin: 10px auto 0;}
.explosion_phone a img{width: 20px;height: 20px;margin-right: 5px;}
.explosion_phone a span{}

.product_con1{background: #fff;padding: 10px;}
.product_con1 .p_name{font-size: 0.9375rem;line-height: 20px;font-weight: bold;margin-right: 65px;}
.product_con1 .p_more{font-size: 0.6875rem;color: #888;margin-top: 5px;}
.product_con1 .p_price1{font-size: 0.75rem;color: #999;}
.product_con1 .p_price1 span{text-decoration: line-through;}
.product_con1 .p_price2{font-size: 0.75rem;color: #999;}
.product_con1 .p_price{font-size: 0.875rem;}
.product_con1 .p_price span{font-size: 0.875rem;font-weight: bold;}
.product_con1 .p_price span span{font-size: 1.25rem;}
.product_con1 .dl_spec{background: #f0efef;font-size: 0.625rem;padding: 8px 10px;margin-top: 8px;}
.product_con1 .dl_spec dt{float: left;font-size: 0.6875rem;}
.product_con1 .dl_spec dd{margin-left: 40px;color: #666;}
.product_con1 .dl_spec dd p{}
.product_con1 .p_remark{font-size: 0.6875rem;line-height:16px;color:#155724;background: #f0feea;border: 1px solid #c3e6cb;padding: 6px 10px;margin-top: 6px;border-radius: 3px;}
.product_con1 .btn_outline{min-width: 47px;padding: 0 10px;margin-top: 4px;color: #888!important;height: 20px;line-height: 18px;}
.product_con1 .btn_outline.active{border-color: #fc7203;color: #fc7203!important;display: none;}
.product_con1 .btn_outline img{width: 12px;height: 12px;margin-right: 2px;margin-top: -3px;}
.product_con1 .d_collect{margin-top: -1.375rem;}


.product_shop{margin-top: 6px;background: #fff;border: none 0;padding: 10px;}

.product_content{margin-top: 6px;background: #fff;padding: 10px 0;}
.product_content p{font-size: 0.75rem;color: #666;padding: 0px 10px;}
.product_content img{display: block;max-width: 100%;margin: 0 auto;}

.product_btn{height: 44px;margin-top: 6px;}
.product_btn .btn{position: fixed;width: 100%;bottom: 0;bottom: 0;border-radius: 0;}

/*品牌活动*/
.brandactivity{}
.brandactivity_list{display: block;padding: 10px;background: #fff;margin-bottom: 8px;}
.brandactivity_list .img{display: block;width: 100%;}
.brandactivity_list .p1{font-size: 0.875rem;margin-top: 5px;font-weight: bold;}
.brandactivity_list .p2{font-size: 0.6875rem;color: #888;margin-top: 2px;}
.brandactivity_list .p2 .s_read{}
.brandactivity_list .p2 img{width: 15px;height: 15px;margin-right: 5px;}

.brandactivity_detail{}
.brandactivity_detail img{width: 100%;display: block;}

/*精选店铺*/
.com_tab2{}
.com_tab2 a.swiper-slide{width: 4.25rem;}
.com_tab2 a.active{}
.com_tab2 a img{width: 41px;height: 41px;border-radius: 50%;margin-top: 12px;}
.com_tab2 a.swiper-slide span{line-height: 28px;height: 28px;border: none 0;margin-bottom: 7px;}

.shoplist{}
.shoplist_con{margin-top: 6px;background: #fff;padding: 10px;overflow: hidden;}
.shoplist_con .img{float: left;width: 35%;max-width: 135px;margin-right: 8px;border: 1px solid #dcdcdc;}
.shoplist_con .p_name{font-size: 0.8125rem;}
.shoplist_con .p_name >span{margin-left: 5px;font-size: 0.625rem;color: #999;}
.shoplist_con .p_name span span{color:#333}
.shoplist_con .btn{margin-top:0.125rem}
.shoplist_con .p_name{display: block;margin-top: 2px;overflow: hidden;}
.shoplist_con .p_name em{width: 10px;height: 10px;margin: 2px;background: url(../images/icon_star.png) center no-repeat;background-size: cover;display: block;float: left;margin-top: 4px;}
.shoplist_con .p_name em.active{background-image: url(../images/icon_stared.png);}
.shoplist_con .p_name span{font-size: 0.625rem;color: #666;margin-left: 5px;float: left;}
.shoplist_con .btn{margin-top:0.125rem}
.shoplist_con .p_shop{height: 1rem;line-height: 1rem;text-align: center;border-radius: 1rem;background: #ffe9d2;padding: 0 8px;font-size: 0.75rem;display: inline-block;}
.shoplist_con .p_shop span{}
.shoplist_con .p_tag{overflow: hidden;}
.shoplist_con .p_tag .s_tag{display: inline-block;background: url(../images/icon_activity_01.png) right 0  no-repeat;padding-right: 6px;height: 16px;float: left;margin-right: 4px;margin-top: 3px;background-size: auto 16px;}
.shoplist_con .p_tag .s_tag span{text-align: center;border: 1px solid #fb81a1;color: #fb81a1;border-right: none 0;border-radius: 2px 0 0 2px;padding-left: 5px;padding-right: 2px;min-width: 45px;line-height: 1rem;height: 1rem;display: inline-block;margin-top: -12px;vertical-align: middle;font-size: 0.625rem;}
.shoplist_con .p_tag .s_tag.s_red{background-image: url(../images/icon_activity_01.png)}
.shoplist_con .p_tag .s_tag.s_red span{border-color: #fb81a1;color: #fb81a1;}
.shoplist_con .p_tag .s_tag.s_orange{background-image: url(../images/icon_activity_02.png)}
.shoplist_con .p_tag .s_tag.s_orange span{border-color: #ffa265;color: #ffa265;}
.shoplist_con .p_tag .s_tag.s_blue{background-image: url(../images/icon_activity_03.png)}
.shoplist_con .p_tag .s_tag.s_blue span{border-color:#87cbeb;color: #87cbeb;}

.shoplist_con .p_zhan{font-size: 0.625rem;color: #999;line-height: 20px;margin-top: 4px;}
.shoplist_con .btn_outline{min-width: 47px;padding: 0 10px;margin-top: 4px;color: #888!important;height: 20px;line-height: 18px;}
.shoplist_con .btn_outline.active{border-color: #fc7203;color: #fc7203!important;display: none;}
.shoplist_con .btn_outline img{width: 12px;height: 12px;margin-right: 2px;margin-top: -3px;}
.shoplist_product{padding: 6px 0 0;}
.shoplist_product li{width: 33.3%;padding: 2px;float: left;}
.shoplist_product li a{display: block;}
.shoplist_product li a img{display: block;width: 100%;}

.shoplist_con .a_coupon{font-size: 0.6875rem;color: #666;display: block;border-top: 1px solid #dcdcdc;margin-top: 6px;padding-top: 7px;clear: both;}
.shoplist_con .a_coupon span{display:block;}
.shoplist_con .a_coupon .s_right{float: right;font-size: 0.625rem;margin-left: 0.5rem;}
.shoplist_con .a_coupon .s_right img{width: 12px;height: 12px;margin-left: 4px;margin-top: -2px;}
.shoplist_con .a_coupon span.y{/* width: 39px; */height: 18px;margin-right: 4px;margin-top: -2px;border: 1px solid #fc7202;color: #fc7202;font-size: 0.625rem;padding: 0 2px;float: left;}
.shoplist_con .a_coupon img.y{width: 39px;height: 18px;margin-right: 4px;margin-top: 0;float: left;}
.shoplist_con .a_coupon .s span{}

.newsdetail{margin-top: 8px;background: #fff;padding: 10px;}
.newsdetail h3{font-size: 1rem;text-align: center;margin: 10px 0;}
.newsdetail .p_more{font-size: 0.6875rem;color: #888;margin-top: 2px;border-bottom: 1px solid #dcdcdc;padding-bottom: 6px;}
.newsdetail .p_more .s_read{}
.newsdetail .p_more img{width: 15px;height: 15px;margin-right: 5px;}
.newsdetail .con{padding: 10px 0;font-size: 0.75rem;color: #666;}
.newsdetail .con p{margin-bottom: 8px;text-indent: 2em;}
.newsdetail .con img{display: block;max-width: 100%;margin: 10px auto;}

/*用户评价*/
.shop_assess_all{overflow: hidden;padding: 10px;background: #fff;}
.shopaa_left{float: left;width: 34%;text-align: center;border-right: 1px solid #dcdcdc;}
.shopaa_left .p1{font-size: 32px;line-height: 36px;}
.shopaa_left .p2{font-size: 0.75rem;margin-top: 6px;}
.shopaa_left .p3{font-size: 0.625rem;color: #999;}
.shopaa_left .p3 span{}
.shopaa_right{width: 66%;padding: 10px 6%;float: right;}
.shopaa_right dl{color: #999;font-size: 0.75rem;overflow: hidden;line-height: 26px;}
.shopaa_right dl dt{float: left;font-weight: normal;}
.shopaa_right dl dd{}
.shopaa_right dl dd .s_star{overflow: hidden;display: inline-block;}
.shopaa_right dl dd .s_star span{width: 12px;height: 12px;background: url(../images/icon_star.png) center no-repeat;background-size: cover;display: block;float: left;margin: 0 2px;}
.shopaa_right dl dd .s_star span.active{background-image: url(../images/icon_stared.png);}
.shopaa_right dl dd .s_star span.active_half{background-image: url(../images/icon_starhalf.png);}

.shop_assess_list{margin-top: 8px;}
.shopal_con{background: #fff;padding: 10px;border-top: 1px solid #dcdcdc;}
.shopal_con:first-child{border:none 0}
.shopal_con .img{float: left;width: 45px;height: 45px;border-radius: 50%;border: 1px solid #ddd;}
.shopal_con .con{margin-left: 54px;}
.shopal_con .con .p1{font-size: 0.8125rem;margin-top: 4px;}
.shopal_con .con .p1 .s{font-size: 0.625rem;color: #999;}
.shopal_con .con .p2{font-size: 0.6875rem;color: #666;}
.shopal_con .con .p2 span{}
.shopal_con .con .p3{margin-top: 5px;font-size: 0.75rem;}
.shopal_con .con .d_imgs{overflow: hidden;}
.shopal_con .con .d_imgs img{height: 67px;margin-right: 6px;margin-top: 6px;float: left;}

/*门店地址*/
.shop_store{/* padding: 10px 0; */}
.shop_store .swiper-container {width: 100%;height: 100%;}
.shop_store .swiper-slide {display: -ms-flexbox;-ms-flex-pack: center;-ms-flex-align: center;}
.shop_store .swiper-slide:not(.swiper-slide-active){transform: scale(0.9);}
.shop_store .swiper-slide img{height: 100%;width: 100%;border-radius:5px;}

.shop_store .gallery-thumbs{width: 100%;height: 110px;position: absolute;z-index: 9999;bottom:10px;}
.shop_store .gallery-thumbs .swiper-slide{padding: 15px 5%;background: #fff;width: 86%;border-radius: 5px;border-left: 5px solid transparent;margin-top: 5px;margin-left: -40px;box-shadow: 2px 1px 8px rgba(0,0,0,.2);height: 100px;}
.shop_store .gallery-thumbs .swiper-slide.swiper-slide-active{border-left-color: #fc7202}
.shop_store .gallery-thumbs .swiper-slide .p1{font-size: 0.9375rem;margin-bottom: 5px;}
.shop_store .gallery-thumbs .swiper-slide .p1 .s{font-size: 0.75rem;color: #666;float: right;}
.shop_store .gallery-thumbs .swiper-slide .p1 .s img{width: 15px;height: 15px;}
.shop_store .gallery-thumbs .swiper-slide .p2{font-size: 0.75rem;color: #666;}
.shop_store .gallery-thumbs .swiper-slide .p2 span{color: #333;font-weight: bold;}

/*店铺详情*/
.shopdetail_con{}
.shopdetail_brand{padding: 10px;margin-top: 1px;background: #fff;height: 85px;overflow: hidden;transition: All 0.4s ease-in-out;-webkit-transition: All 0.4s ease-in-out;-moz-transition: All 0.4s ease-in-out;-o-transition: All 0.4s ease-in-out;}
.shopdetail_brand.up{height: auto;}
.shopdetail_brand p{text-indent: 2em;font-size: 0.75rem;color: #666;}
.shopdetail_brand img{display: block;max-width: 100%;margin: 10px auto;}

.shopdetail_con .com_morebtn{background: #fff;padding-top: 10px;}
.shopdetail_con .com_morebtn img.up{transform: rotate(180deg);}

.shopdetail_activity{margin-top: 6px;background: #fff;padding-bottom: 5px;}
.shopdetail_activity .cfc_more{margin: 10px;}
.shopdetail_activity .cfc_form{margin: 10px;}

.shopdetail_coupon{}
.com_title .s_title span.s{font-size: 0.625rem;font-weight: normal;margin-left: 5px;}
.shopdetail_coupon{}
.shopdetail_coupon{margin-top: 6px;}
.shopdetail_coupon .com_coupon{background: #fff;overflow: hidden;margin: 0;padding: 0 5px;}


.shopdetail_appointment{margin-top: 6px;}
.shopdetail_prestore{margin-top: 6px;}

.shopdetail_prestore .com_productlisttwo li a .product_name{background: transparent;color: #333;margin-top: 5px;line-height: 1rem;padding: 0;height: 2rem;}
.shopdetail_assess{margin-top: 6px;}
.shopdetail_assess .shop_assess_list{margin-top: 1px;}

.shopdetail_more{margin-top: 6px;}
.shopdetail_more_con{background: #fff;padding: 0 10px;}
.shopdetail_more_con dl{border-top: 1px solid #dcdcdc;overflow: hidden;line-height: 30px;padding: 10px 0;}
.shopdetail_more_con dl:first-child{border:none 0;}
.shopdetail_more_con dl dt{font-size: 0.875rem;float: left;font-weight: normal;}
.shopdetail_more_con dl dd{font-size: 0.8125rem;color: #666;margin-left: 80px;float: right;}
.shopdetail_more_con dl dd img{height: 70px;}

.shopdetail_con .coupondetail_shop{}

.shopdetail_shore{margin-top: 6px;}
.shopdetail_shore_list{background: #fff;padding: 0 10px 10px;}
.shopdetail_shore_list a{display: block;padding-right: 20px;background: url(../images/icon_right1.png) right center no-repeat;padding-bottom: 10px;border-top: 1px solid #dcdcdc;padding-top: 10px;background-size: 10px;overflow: hidden;}
.shopdetail_shore_list a:first-child{border:none 0}
.shopdetail_shore_list a .img{float: left;width: 35%;max-width: 150px;margin-right: 10px;border: 1px solid #dcdcdc;}
.shopdetail_shore_list a .p_name{font-size: 0.875rem;}
.shopdetail_shore_list a .p_address{font-size: 0.75rem;color: #666;padding-left: 20px;background: url(../images/icon_address1.png) 0 3px no-repeat;background-size: 16px 16px;line-height: 14px;margin-top: 3px;}

.shopdetail_shore_list a .p_address img{width: 16px;height: 16px;margin-right: 3px;}

/*装修学堂*/
.fitupschool_ask{margin-top: 6px;}
.fitupschool_ask_ul{background: #fff;padding: 10px;}
.fitupschool_ask_ul li{}
.fitupschool_ask_ul li a{display: block;line-height: 26px;font-size: 0.875rem;}

.fitupschool_ask_btns{background: #fff;padding: 10px;padding-top: 0;padding-bottom: 20px;}
.fitupschool_ask_btns .btn{font-size: 0.9375rem;height: 38px;border-radius: 4px;line-height: 36px;border: 1px solid #fc7203;width: 48%;margin-right: 1%;}
.fitupschool_ask_btns .btn.btn-outline{color: #fc7203!important;background: #fff7f0;margin: 0;margin-left: 1%;}
.fitupschool_ask_btns .btn img{width: 17px;height: 17px;margin-top: -2px;margin-right: 5px;}

/*装修案例*/
.fitupcase_tab{background: #fff;display: table;width: 100%;}
.fitupcase_tab a{width: 20%;display: table-cell;text-align: center;height: 44px;line-height: 44px;font-size: 0.875rem;}
.fitupcase_tab a.a_more{}
.fitupcase_tab a.a_more:after{content: '';background: url(../images/icon_down.png) center 1px no-repeat;background-size: cover;display: inline-block;margin-left: 5px;width: 12px;height: 12px;}
.fitupcase_tab a.active{ color: #fc7203!important; }
.fitupcase_tab a.a_more.active:after{background-image:url(../images/icon_down_h.png)}

.fitupcase_list{}
.fitupcase_list_con{margin: 6px;padding: 8px;border-radius: 5px;background-color: #fff;}
.flc_a{display: block;}
.flc_a img{width: 100%;}
.flc_a .p1{font-size: 0.9375rem;font-weight: bold;margin-top: 6px;}
.flc_a .p2{font-size: 0.75rem;color: #888;}
.flc_a .p2 span{}
.flc_shop{display: inline-block;float: right;margin-top: -30px;font-size: 0.75rem;color: #666;padding: 5px;}
.flc_shop img{width: 13px;height: 13px;margin-top: -3px;margin-right: 5px;}

.fitup_casedetail_con1{background: #fff;}
.fitup_casedetail_con1 img{width: 100%;}
.fitup_casedetail_con1 .p1{font-size: 0.9375rem;font-weight: bold;margin-top: 6px;padding: 0 10px;}
.fitup_casedetail_con1 .p2{font-size: 0.75rem;color: #888;padding: 0 10px 15px;}
.fitup_casedetail_con1 .p2 span{}
.fitup_casedetail_con2{background: #fff;margin-top: 2px;padding: 0 10px;}
.fitup_casedetail_con2 .con{font-size: 0.75rem;color: #666;line-height: 36px;border-top: 1px solid #dcdcdc;}
.fitup_casedetail_con2 .con:first-child{border:none 0;}
.fitup_casedetail_con2 .con a{display: inline-block;float: right;font-size: 0.75rem;color: #666;background: url(../images/icon_right1.png) right center no-repeat;padding-right: 15px;background-size: 12px 12px;}
.fitup_casedetail_con2 .con a img{width: 13px;height: 13px;margin-top: -3px;margin-right: 5px;}
.fitup_casedetail_con2 .con span{}
.fitup_casedetail_con3{margin-top: 6px;background: #fff;}
.fitup_casedetail_con3 .p_title{padding: 0 12px;line-height: 36px;font-size: 0.875rem;}
.fitup_casedetail_con3 .p_title span{display: inline-block;border-bottom: 3px solid #fc7202;padding: 0 10px;}
.fitup_casedetail_con3 .content{padding: 0 10px 10px;font-size: 0.75rem;color: #666;line-height: 24px;}
.fitup_casedetail_con3 .content p{line-height: 30px;text-indent: 1em;margin-top: 5px;}
.fitup_casedetail_con3 .content img{max-width: 100%;display: block;margin: 0 auto;}

/*装修问答*/
.fitupask_tab{background: #fff;overflow: hidden;}
.fitupask_tab a{display: block;width: 33.3%;float: left;text-align: center;}
.fitupask_tab a span{display: inline-block;border-bottom: 2px solid #fff;line-height: 42px;font-size: 0.9375rem;}
.fitupask_tab a.active span{border-bottom-color: #fc7203;color: #fc7203!important;}

.fitupask_list{}
.fitupask_list_con{margin-top: 6px;background: #fff;display: block;}
.fitupask_list_con .p_title{padding: 10px;font-size: 0.875rem;line-height: 20px;}
.fitupask_list_con .p_title em{font-style: normal;width: 1rem;height: 1rem;line-height: 1rem;background: #f60;display: inline-block;text-align: center;border-radius: 50%;color: #fff;font-size: 0.6875rem;margin-right: 6px;}
.fitupask_list_con .d_user{overflow: hidden;border-top: 1px solid #f0f0f0;padding: 10px;}
.fitupask_list_con .d_user img{display: block;float: left;width: 45px;height: 45px;border-radius: 50%;margin-right: 10px;}
.fitupask_list_con .d_user .s_right{font-size: 0.75rem;color: #666;margin-top: 10px;}
.fitupask_list_con .d_user .p1{font-size: 0.8125rem;line-height: 24px;}
.fitupask_list_con .d_user .p2{font-size: 0.6875rem;color: #888;}

.fitup_ask{}
.fitup_ask form{}
.fitup_ask .textarea{background: #fff;width: 100%;padding: 10px;height: 200px;border: none 0;outline: none 0;font-size: 0.8125rem;}
.fitup_ask .btn{width: 90%;margin: 14px auto;border-radius: 40px;}

.integral_remark{background: #fff;}
.integral_remarklist{padding: 10px 0 0;}

.integral_remarklist h3{font-size: 1.125rem;font-weight: bold;text-align: center;line-height: 40px;vertical-align: middle;}
.integral_remarklist h3:before{content: '';display: inline-block;width: 34px;height: 20px;background: url(../images/bg_integral_l.png) center 5px no-repeat;background-size: 100% auto;margin-right: 15px;}
.integral_remarklist h3:after{content: '';display: inline-block;width: 34px;height: 20px;background: url(../images/bg_integral_r.png) center 5px no-repeat;background-size: 100% auto;margin-left: 15px;}
.integral_remarklist .con{padding: 10px 0;}
.integral_remarklist a{display: block;}
.integral_remarklist .con img{display: block;max-width: 100%;margin: 10px auto;}

/*最新揭晓*/
.integral_treasure{}
.integral_treasure_con{margin-top: 6px;background: #fff;display: block;padding: 0 10px;}
.integral_treasure_con .p_title{padding: 10px;font-size: 0.875rem;line-height: 20px;}
.integral_treasure_con .d_user{overflow: hidden;border-bottom: 1px solid #f0f0f0;padding: 10px 0;}
.integral_treasure_con .d_user img{display: block;float: left;width: 45px;height: 45px;border-radius: 50%;margin-right: 10px;}
.integral_treasure_con .d_user .p1{font-size: 0.8125rem;line-height: 24px;}
.integral_treasure_con .d_more{line-height: 36px;font-size: 0.625rem;color: #999;}
.integral_treasure_con .d_more .s_right{font-size: 0.625rem;color: #999;}
.integral_treasure_con .d_more .s_right span{color: #333;}

/*积分签到*/
.signin_top{overflow: hidden;background: url(../images/bg_signin.jpg) center no-repeat;background-size: cover;height: 285px;position: relative;text-align: center;}
.signin_top_rule{width: 78px;height: 36px;line-height: 32px;border: 2px solid #fff;border-right: none 0;background: #ff4b04;color: #fff!important;text-align: center;border-radius: 36px 0 0 36px;font-size: 0.8125rem;position: absolute;right: 0;top: 12px;opacity: 0.8;}
.signin_top img{width: 230px;display: block;margin: 40px auto 2px;}
.signin_top p{color: rgba(255,255,255,.8);font-size: 0.875rem;}
.signin_top .btn{background: linear-gradient(to bottom, #ebfe00 0%,#ffd300 100%)!important;width: 70%;margin: 20px auto 0;color: #da0000!important;font-size: 1rem;border-radius: 50px;font-weight: bold;border-bottom: 3px solid #ffae00;}
.signin_top .btn.disabled{background: linear-gradient(to bottom, #fff 0%,#cecece 100%)!important;border-bottom: 3px solid #bbbbbb;color: #949494!important;}
.signin_list{padding: 10px;background: #fff;}
.signin_list .con{padding: 10px;border-bottom: 1px solid #f0f0f0;}
.signin_list .con .s_right{}
.signin_list .con .p1{}
.signin_list .con .p2{font-size: 0.75rem;color: #999}

/*购物车*/
.mycart_list{}
.mycart_list_con{background: #fff;margin-top: 6px;padding: 10px;padding-left: 0;overflow: hidden;}
.mycart_list_con .a_select{background: url(../images/icon_select.png) center no-repeat;background-size: 16px;display: block;width: 40px;float: left;height: 70px;}
.mycart_list_con .a_select.active{background-image: url(../images/icon_selected.png);}
.mycart_list_con .img{height: 70px;width: 70px;float: left;margin-right: 10px;}
.mycart_list_con .con{display: block;}
.mycart_list_con .con .p_name{font-size: 0.8125rem;line-height: 16px;}
.mycart_list_con .con .p_spec{font-size: 0.75rem;color: #999;}
.mycart_list_con .con .p_price{font-size: 0.9375rem;font-weight: bold;}
.mycart_list_con .num{overflow: hidden;float: right;margin-top: -26px;}
.mycart_list_con .num a{float: left;}
.mycart_list_con .num a.a_reduce{}
.mycart_list_con .num a.a_plus{}
.mycart_list_con .num a img{width: 26px;height: 26px;}
.mycart_list_con .num .inp{width: 35px;line-height: 26px;text-align: center;border: none 0;outline: none 0;float: left;}
.mycart_btn{height: 56px;}
.mycart_btns{background: #fff;height: 56px;line-height: 55px;border-top: 1px solid #e7e7e7;position: fixed;width: 100%;bottom: 0;left: 0;}
.mycart_btns .a_select{background: url(../images/icon_select.png) 15px center no-repeat;background-size: 16px;display: block;width: 80px;float: left;height: 55px;padding-left: 35px;font-size: 0.875rem;color: #666;}
.mycart_btns .a_select.active{background-image: url(../images/icon_selected.png);}
.mycart_btns .btn{float: right;height: 34px;line-height: 34px;font-size: 1.0625rem;margin-top: 11px;margin-right: 10px;padding: 0 15px;}
.mycart_btns .btn.btn_outline{line-height: 30px;font-size: 1rem;height: 32px;margin-top: 12px;}
.mycart_btns .btn.btn_delect{color: #f31e1e!important;border-color: #f31e1e;}
.mycart_btns .btn.btn_delect.disabled{color: #fff!important;border-color: #999;}
.mycart_btns .btn.btn_collect{color: #fc7203!important;border-color: #fc7203;}
.mycart_btns .btn.btn_collect.disabled{color: #fff!important;border-color: #999;}
.mycart_btns p{float: right;margin: 0 10px;font-size: 0.75rem;color: #999;}
.mycart_btns p .s{font-size: 0.875rem;margin-left: 7px;}
.mycart_btns p .s span{font-weight: bold;margin-left: 3px;}

/*商品详情-积分*/
.product_intrgralcon1{background: #fff;padding: 10px;}
.product_intrgralcon1 .p_name{font-size: 0.9375rem;line-height: 20px;font-weight: bold;}
.product_intrgralcon1 .p_price2{font-size: 0.75rem;color: #999;}
.product_intrgralcon1 .p_price{font-size: 0.875rem;}
.product_intrgralcon1 .p_price span{font-size: 0.875rem;font-weight: bold;}
.product_intrgralcon1 .p_price span span{font-size: 1.25rem;}
.product_intrgralcon1 .p_remark{font-size: 0.6875rem;line-height:16px;color:#155724;background: #f0feea;border: 1px solid #c3e6cb;padding: 6px 10px;margin-top: 6px;border-radius: 3px;}
.product_intrgralcon2{background: #fff;margin-top: 6px;padding: 10px;font-size: 0.75rem;line-height: 18px;color: #888;}
.product_intrgraltab{margin-top: 6px;}
.product_intrgraltab_list{}
.product_intrgraltab_list.nav-pills li{border:none 0;}
.product_intrgral_content{background: #fff;}
.product_intrgral_content p{font-size: 0.75rem;color: #666;padding: 4px 10px;}
.product_intrgral_content img{display: block;max-width: 100%;margin: 0 auto;}
.product_intrgralbtn{height: 51px;margin-top: 6px;}
.product_intrgralbtns{position: fixed;width: 100%;height: 51px;padding: 5px 10px;background: #fff;bottom: 0;left: 0;border-top: 1px solid #c3c3c3;}
.product_intrgralbtns .btn{display: block;float: left;width: 50%;height: 40px;line-height: 40px;border-radius: 0;font-size: 0.9375rem;}
.product_intrgralbtns .a_cart{border-radius: 40px 0 0 40px;background: linear-gradient(to left, #ffa104 0%,#ffa104 100%)!important;}
.product_intrgralbtns .a_buy{border-radius: 0 40px 40px 0;background: linear-gradient(to left, #f44a15 0%,#ff8a00 100%)!important;}

.product_intrgralbtn1{height: 44px;margin-top: 6px;}
.product_intrgralbtn1 .btn{position: fixed;width: 100%;bottom: 0;bottom: 0;border-radius: 0;}
.product_intrgralcon1 .d_con1{overflow: hidden;margin-top: 5px;}
.product_intrgralcon1 .d_con1 .p1{float: left;font-size: 0.9375rem;font-weight: bold;}
.product_intrgralcon1 .d_con1 .p1 span{}
.product_intrgralcon1 .d_con1 .p1 span.s{font-size: 0.75rem;color: #666;font-weight: normal;}
.product_intrgralcon1 .d_con1 .progress{margin-top: 4px;background-color: #ededed;border-radius: 3px;height: 3px;float: right;width: 240px;}
.product_intrgralcon1 .d_con1 .progress .progress-bar{background: #fc7208;border-radius: 3px;}
.product_intrgralcon1 .d_con1 .progress_text{width: 240px;float: right;font-size: 0.625rem;color: #999;}
.product_intrgralcon1 .d_con1 .progress_text span{float: right;}
.product_intrgralcon1 .d_con2{margin-top: 10px;border-top: 1px solid #f0f0f0;padding-top: 10px;}
.product_intrgralcon1 .d_con2 span{font-size: 0.875rem;color: #666;}
.product_intrgralcon1 .d_con2 .num{overflow: hidden;float: right;}
.product_intrgralcon1 .d_con2 .num a{float: left;}
.product_intrgralcon1 .d_con2 .num a.a_reduce{}
.product_intrgralcon1 .d_con2 .num a.a_plus{}
.product_intrgralcon1 .d_con2 .num a img{width: 26px;height: 26px;}
.product_intrgralcon1 .d_con2 .num .inp{width: 35px;line-height: 26px;text-align: center;border: none 0;outline: none 0;float: left;}

/* 选择规格弹性 */
.detail-alert{position: fixed;width: 100%;height: 100%;left: 0;background: rgba(0, 0, 0, .5);bottom: 0;z-index: 98;}
.detail-alert.show{top: 0;}
.detail-alert.hide{top: 100%;}
.detail-select-spec{position: fixed;bottom: 0px;width: 100%;background: #fff;transition: all 0.25s ease-in-out;z-index: 99;}
.detail-select-spec.hide{bottom: -400px;}
.detail-select-spec .close{float: right;margin-top: 15px;margin-right: 15px;border: 1px solid #666;border-radius: 50%;width: 30px;height: 30px;text-align: center;}
.detail-select-spec .close span{display: inline-block;width: 16px;height:2px;background: #666;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);}
.detail-select-spec .close span:after{content:'/';display:block;width: 16px;height:2px;background: #666;-webkit-transform: rotate(-90deg);}
.dss-price{padding: 10px;border-bottom: 1px solid #f5f5f5;margin-bottom: 4px;overflow: hidden;font-size: 1rem;}
.dss-price img{width: 80px;height: 80px;margin-right: 20px;float: left;border: 1px solid #ccc;}
.dss-price .t1{display: block;margin-top: 12px;}
.dss-price .t11{font-size: 1.125rem;font-weight: bold;}
.dss-price .t2{color: #999;font-size: 0.875rem;}
.dss-con{height:160px;margin-bottom:20px;overflow-y: scroll;padding: 0 10px;}
.dss-type{padding: 10px;border-bottom: 1px solid #f5f5f5;}
.dss-type .num{overflow: hidden;float: right;margin-top: -26px;}
.dss-type .num a{float: left;}
.dss-type .num a.a_reduce{}
.dss-type .num a.a_plus{}
.dss-type .num a img{width: 26px;height: 26px;}
.dss-type .num .inp{width: 35px;line-height: 26px;text-align: center;border: none 0;outline: none 0;float: left;}
.dss-form .title{margin-bottom: 5px;margin-left: 5px;font-size: 0.875rem;}
.dss-type .tab{overflow: hidden;}
.dss-type .tab span{padding: 5px 10px;margin: 5px;display: block;float: left;border: 1px solid #ddd;color: #666;font-size: 0.875rem;}
.dss-type .tab span.hover{background: #fc7202;color: #fff;border-color: #fc7202;}
.dss-form .btn{border-radius: 0;font-size: 1.125rem;}
.dss-form .btn:after{border:0;}

/*积分抽奖*/
.integral_luckdraw{background: #e8445b url(../images/bg_luckdraw.jpg) center 0 no-repeat;background-size: 100% auto;overflow: hidden;padding-bottom: 10px;}
.luckdraw_top{position: relative;padding-bottom: 70px;}
.luckdraw_top .a_right{float: right;background: #fff;width: 82px;height: 30px;line-height: 30px;text-align: center;border-radius: 30px 0 0 30px;margin-top: 12px;font-size: 0.9375rem;}
.luckdraw_top p{padding-top: 70%;text-align: center;color: #fff;font-size: 0.75rem;}
.luckdraw_top p span{}
.luckdraw_title{background: url(../images/bg_title_luckdraw.png) center no-repeat;background-size: 100% auto;color: #fff;text-align: center;height: 80px;padding-top: 24px;}
.luckdraw_title h4{font-size: 24px;font-weight: bold;}
.luckdraw_title h5{font-size: 0.625rem;}
.luckdraw_con3, .luckdraw_con2{background: #fff;border-radius: 5px;margin:20px 10px}
.luckdraw_con1{height: 335px;margin: 0 20px;}
.luckdraw_con2{padding:20px;}
.luckdraw_notice{line-height: 30px;overflow: hidden;text-align: center;height: 120px;font-size: 0.875rem;}
.luckdraw_con3{padding: 20px;line-height: 28px;}
.luckdraw_con3 p{font-size: 0.9375rem;color: #e8445b;text-indent: 25%;}
.luckdraw_con3 p b{}

.casesure_address{background: #fff;padding: 8px 15px;overflow: hidden;}
.casesure_address_add{display: block;text-align: center;margin: 10px auto;width: 80%;}
.casesure_address_list{display: block;overflow: hidden;}
.casesure_address_list .img_r{float: right;width: 12px;margin-top: 25px;}
.casesure_address_list .img_l{float: left;width: 25px;margin-top: 20px;}
.casesure_address_list .con{margin: 10px 30px 10px 40px;font-size: 0.875rem;}
.casesure_address_list .con .p1{}
.casesure_address_list .con .p1 span{}
.casesure_address_list .con .p2{color: #666;font-size: 0.8125rem;margin-top: 5px;}
.casesure_address_list .con .p2 span{}
.casesure_product_con{margin-top: 6px;padding: 10px;background: #fff;overflow: hidden;display: block;}
.casesure_product_con img{width: 70px;float: left;margin-right: 10px;}
.casesure_product_con .p_name{font-size: 0.8125rem;line-height: 1rem;}
.casesure_product_con .p_more{font-size:0.675rem;color: #999;}
.casesure_product_con .p_price{font-weight: bold;font-size: 1rem;}
.casesure_product_con .p_price .s{color:#666;font-size: 0.75rem;font-weight: normal;}
.casesure_remark{margin-top: 6px;background: #fff;padding: 0 10px;font-size: 0.875rem;}
.casesure_remark dl{overflow: hidden;line-height: 48px;border-top: 1px solid #dcdcdc;}
.casesure_remark dl:first-child{border:none 0;}
.casesure_remark dl dt{float: left;width: 40%;font-weight: normal;}
.casesure_remark dl dd{margin-left: 40%;text-align: right;}
.casesure_remark dl dd.dd{}
.casesure_remark dl dd.dd:after{content:'';background: url(../images/icon_down.png) center no-repeat;width: 12px;height: 12px;background-size: cover;display: inline-block;margin-left: 6px;}


/*--- 积分商城首页-积分商城 --*/

/* 导航 */
#points_mall .user_nav{padding:10px;background:white;}
#points_mall .user_nav li{float:left;width:20%;padding: 5px 2px;text-align:center;}
#points_mall .user_nav li img{height:40px;}
#points_mall .user_nav li p{font-size: 0.875rem;margin-top:10px;}
/* 单条广告 */
.points_mall_gg{padding:10px;}
.points_mall_gg img{width:100%;}
/* 商品列表 */
#points_list .list{background:white;margin-top:5px;}
#points_list .list .title{margin:10px;padding:10px 0;position:relative;border-bottom:1px solid #eee;}
#points_list .list .title h2{font-size: 1rem;color:#333;}
#points_list .list .title a{position:absolute;right:10px;top:10px;font-size: 0.75rem;color:#999;}
#points_list .list .con{background:white;}
#points_list .list .cont ul{padding:0 5px;}
#points_list .list .cont li{float:left;width:33.33333%;padding:4px;}
#points_list .list .cont li a{display:block;}
#points_list .list .cont li img{width:100%;min-height:80px;}
#points_list .list .cont li p{font-size: 0.75rem;}
#points_list .list .cont li b{font-size: 0.875rem;color:#fc7203;}
#points_list .list .cont li span{font-size: 0.75rem;color:#fc7203;}
#points_list .list .cont li b{font-size: 1rem;margin-left:3px;}



/*--- 3列商品列表-积分商城 --*/
.pro_list{background:white;margin-top:5px;}
.pro_list .title{margin:10px;padding:10px 0;position:relative;border-bottom:1px solid #eee;}
.pro_list .title h2{font-size: 1rem;color:#333;}
.pro_list .title a{position:absolute;right:10px;top:10px;font-size: 0.75rem;color:#999;}
.pro_list .con{background:white;}
.pro_list .cont ul{padding:0 5px;}
.pro_list .cont li{float:left;width:33.33333%;padding:4px;}
.pro_list .cont li a{display:block;}
.pro_list .cont li img{width:100%;min-height:80px;}
.pro_list .cont li p{font-size: 0.75rem;}
.pro_list .cont li b{font-size: 0.875rem;color:#fc7203;}
.pro_list .cont li span{font-size: 0.75rem;color:#fc7203;}
.pro_list .cont li b{font-size: 1rem;margin-left:3px;}




/*--- 我的积分-积分商城 --*/
#my_points .quantity{text-align:center;color:white;padding-bottom:15px;}
#my_points .quantity h3{font-size:40px;font-weight:bold;}
#my_points .quantity p{font-size: 1rem;}
#my_points .points_bg{padding-top:15px;background:url(../images/points_top_bg.png) no-repeat white;background-size:100%;}
#my_points .user_info{position:relative;margin:0 10px;background:white;box-shadow:rgba(0,0,0,0.15) 0em 0.15em 0.15em;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#my_points .user_info .user_data{padding:20px 0;position:relative;}
#my_points .user_info .user_data .line{position:absolute;right:50%;background:#eee;width:1px;height:40px;}
#my_points .user_info .user_data li{float:left;width:33.33%;text-align:center;border-left:1px solid #eee;}
#my_points .user_info .user_data li:first-child{border-left:0;}
#my_points .user_info .user_data li p{color:#333;font-size: 0.875rem;margin-top:5px;}
#my_points .user_info .user_data li img{width:40%;}
/* 2等分广告 */
#my_points .points_mall_gg2{padding:5px;}
#my_points .points_mall_gg2 a{float:left;width:50%;padding:5px;}
#my_points .points_mall_gg2 img{width:100%;}




/*--- 积分列表-积分商城 --*/
#points_list .points_list_banner img{width:100%;}
/* 2等分广告 */
#points_list .points_mall_gg2{padding:5px;background:white;}
#points_list .points_mall_gg2 a{float:left;width:50%;padding:5px;}
#points_list .points_mall_gg2 img{width:100%;}
/* 商品列表 */
#points_list .list{background:white;margin-top:5px;}
#points_list .list .title{margin:10px;padding:10px 0;position:relative;border-bottom:1px solid #eee;}
#points_list .list .title h2{font-size: 1rem;color:#333;}
#points_list .list .title a{position:absolute;right:10px;top:10px;font-size: 0.75rem;color:#999;}
#points_list .list .con{background:white;}
#points_list .list .cont ul{padding:0 5px;}
#points_list .list .cont li{float:left;width:50%;padding:4px;}
#points_list .list .cont li a{display:block;}
#points_list .list .cont li img{width:100%;min-height:80px;}
#points_list .list .cont li p{font-size: 0.75rem;}
#points_list .list .cont li b{font-size: 0.875rem;color:#fc7203;}
#points_list .list .cont li span{font-size: 0.75rem;color:#fc7203;}
#points_list .list .cont li b{font-size: 1rem;margin-left:3px;}
/* 筛选条 */
#points_list .tab{background: #fff;display: table;width: 100%;}
#points_list .tab a{width:33.33%;display: table-cell;text-align: center;height: 44px;line-height: 44px;font-size: 0.875rem;}
#points_list .tab a.a_more:after{content: '';background: url(../images/icon_down.png) center 1px no-repeat;background-size: cover;display: inline-block;margin-left: 5px;width: 12px;height: 12px;}
#points_list .tab a.active{ color: #fc7203!important;}
#points_list .tab a.a_more.active:after{background-image:url(../images/icon_down_h.png)}
#points_list .tab a.md:after{background: url(../images/icons_up_down.png) center 2px no-repeat;}/* 默认 */
#points_list .tab a.up:after{background: url(../images/icons_up.png) center 2px no-repeat;}/* 上 */
#points_list .tab a.down:after{background: url(../images/icons_down.png) center 2px no-repeat;}/* 下 */
#points_list .tab a.a_ud:after{content: '';background-size:cover;display:inline-block;margin-left:5px;width:12px;height:12px;}



/*--- 积分夺宝-积分商城 --*/
#points_treasure .quantity{text-align:center;color:white;padding-bottom:15px;}
#points_treasure .quantity h3{font-size:40px;font-weight:bold;}
#points_treasure .quantity p{font-size: 1rem;}
#points_treasure .points_bg{padding-top:135px;background:url(../images/_temp/treasure_banner.jpg) no-repeat;background-size:100%;}
#points_treasure .user_info{position:relative;margin:0 10px;background:white;box-shadow:rgba(0,0,0,0.15) 0em 0.15em 0.15em;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#points_treasure .user_info .user_data{padding:10px 0;position:relative;}
#points_treasure .user_info .user_data .line{position:absolute;right:50%;background:#eee;width:1px;height:40px;}
#points_treasure .user_info .user_data li{float:left;width:50%;text-align:center;border-left:1px solid #eee;}
#points_treasure .user_info .user_data li:first-child{border-left:0;}
#points_treasure .user_info .user_data li span{color:#333;font-size: 0.875rem;margin-top:5px;}
#points_treasure .user_info .user_data li img{width:15%;}
/* 夺宝商品 */
#points_treasure .treasure_pro{background:white;}
#points_treasure .treasure_pro .title{margin:10px;padding:10px 0;position:relative;border-bottom:1px solid #eee;}
#points_treasure .treasure_pro .title h2{font-size: 1rem;color:#333;}
#points_treasure .treasure_pro .title a{position:absolute;right:10px;top:10px;font-size: 0.75rem;color:#999;}
#points_treasure .treasure_pro .cont{}
#points_treasure .treasure_pro .cont li{height:120px;position:relative;padding-left:130px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;}
#points_treasure .treasure_pro .cont .pic{position:absolute;left:10px;top:0;}
#points_treasure .treasure_pro .cont .pic img{width:110px;height:110px;}
#points_treasure .treasure_pro .cont .box{padding-right:10px;}
#points_treasure .treasure_pro .cont .box h3{font-size: 1rem;}
#points_treasure .treasure_pro .cont .box .data{margin:8px 0;}
#points_treasure .treasure_pro .cont .box .data .schedule{height:3px;background:#ededed;}
#points_treasure .treasure_pro .cont .box .data .process{height:3px;width:32%;background:#fc7208;}
#points_treasure .treasure_pro .cont .box .data p{font-size: 0.75rem;top:5px;position:relative;color:#999;}
#points_treasure .treasure_pro .cont .box .data span{font-size: 0.75rem;position:absolute;right:0;top:0;}
#points_treasure .treasure_pro .cont .box .operating{position:relative;top:10px;}
#points_treasure .treasure_pro .cont .box .operating p{color:#fc7208;font-size: 1rem;font-weight:bold;}
#points_treasure .treasure_pro .cont .box .operating span{color:#999;font-size: 0.75rem;}
#points_treasure .treasure_pro .cont .box .operating a{position:absolute;right:0;top:0;padding:0 12px;line-height:26px;background:#fc7203;color:white;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}



/*--- 夺宝记录-积分商城 --*/
#treasure_record{background:white;padding-top:10px;}
#treasure_record li{height:120px;position:relative;padding-left:130px;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;}
#treasure_record .pic{position:absolute;left:10px;top:0;}
#treasure_record .pic img{width:110px;height:110px;}
#treasure_record .box{padding-right:10px;}
#treasure_record .box h3{font-size: 1rem;}
#treasure_record .box .data{margin:8px 0;}
#treasure_record .box .data .schedule{height:3px;background:#ededed;}
#treasure_record .box .data .process{height:3px;width:32%;background:#fc7208;}
#treasure_record .box .data p{font-size: 0.75rem;top:5px;position:relative;color:#999;}
#treasure_record .box .data span{font-size: 0.75rem;position:absolute;right:0;top:0;}
#treasure_record .box .operating{position:relative;top:10px;}
#treasure_record .box .operating p{color:#666;font-size: 0.875rem;}
#treasure_record .box .operating span{color:#333;}
#treasure_record .box .operating a{position:absolute;right:0;top:0;padding:0 12px;line-height:26px;background:#fc7203;color:white;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
#treasure_record .box .operating a.color_orange{background:#fc7208;}
#treasure_record .box .operating a.color_gray{background:#b5b3b3;}



/*--- 夺宝详情-积分商城 --*/
#treasure_details{background:white;}
#treasure_details .nb{text-align:center;height:110px;background:#fc7208;padding-top:25px;}
#treasure_details .nb h3{font-size:30px;color:white;font-weight:bold;}
#treasure_details .nb p{font-size: 0.875rem;color:white;}
#treasure_details .list{padding:0 10px;}
#treasure_details .list li{position:relative;color:#333;font-size: 1rem;line-height:60px;border-bottom:1px solid #eee;}
#treasure_details .list li span{font-size: 0.875rem;color:#999;position:absolute;right:0;top:0;}




/*--- 夺宝变动-积分商城 --*/
#treasure_change{}
#treasure_change .operating{position:relative;padding:10px;}
#treasure_change .operating span{font-size: 1rem;color:#333;line-height:30px;}
#treasure_change .operating a.cycle{line-height:30px;padding:0 20px;position:absolute;right:10px;top:10px;background:white;border:1px solid #ddd;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
#treasure_change .operating a.cycle:after{content: '';background: url(../images/icon_down.png) center 1px no-repeat;background-size:cover;display:inline-block;margin-left:5px;width:12px;height:12px;}

#treasure_change .card_data{margin:10px;margin-top:0;height:140px;padding-top:25px;background:url(../images/jfbd.png) no-repeat center;background-size:cover;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-shadow:rgba(254,138,34,0.5) 0em 0.1em 0.3em;}
#treasure_change .card_data h3{font-size:30px;color:white;font-weight:bold;text-shadow:rgba(0,0,0,0.2) 0em 0.05em 0.05em;}
#treasure_change .card_data p{font-size: 0.875rem;color:white;}
#treasure_change .card_data ul{margin-top:15px;}
#treasure_change .card_data li{float:left;width:50%;text-align:center;color:white;border-left:1px solid rgba(255,255,255,0.4);}
#treasure_change .card_data li:first-child{border-left:0;}
#treasure_change .card_data span{font-weight:bold;}

#treasure_change .list .card{margin-bottom:5px;border:0;border-radius:0;}
#treasure_change .list .card-header{background:white;}
#treasure_change .list .card-header{padding:0;}
#treasure_change .list button{background:0;border:0; width:100%;padding:20px 10px;text-align:left;position:relative;}
#treasure_change .list button h2{font-size: 1.125rem;}
#treasure_change .list button p{font-size: 0.875rem;font-weight:400;color:#999;margin-top:5px;}
#treasure_change .list button b{font-size: 1.125rem;position:absolute;right:10px;top:50%;margin-top:-9px;font-weight:500;}
#treasure_change .list button span{color:#999;}
#treasure_change .list .card-body{padding:10px;}
#treasure_change .list li{position:relative;color:#333;font-size: 1rem;line-height:30px;}
#treasure_change .list li span{font-size: 0.875rem;color:#999;position:absolute;right:0;top:0;}

/*side banner*/
.return-top {
    position: fixed;
    bottom: 4rem;
    right: 0.7rem;
    border-radius: 2.05rem;
    width: 2.5rem;
    height: 2.55rem;
    background: url(../images/go.png) center no-repeat;
    z-index: 9999;
    background-size: 100%;
}

.right-slide {
    width: 2.5rem;
    position: fixed;
    right: 0.7rem;
    bottom: 6.5rem;
    z-index: 99;
}

.right-slide-in li {
    width: 2.5rem;
    height: 3rem;
    border-radius: 50%;
}

.right-slide-in li img {
    width: 2.5rem;
    height: 2.5rem;
}

.right-slide img {
    display: block;
    height: 2.57rem;
    width: 2.57rem;
}