@charset "UTF-8";
body{background:#eff0f1;}
.placeholder{height:60px;}
/*--- 登录-用户中心 --*/
#login{background:white;height:100%;}
#login .tab_nav{position:relative;}
#login .tab_nav .tab_nav_bg{width:100%;}
#login .tab_nav .nav-tabs{position:absolute;bottom:0;width:100%;border:0;}
#login .tab_nav .nav-tabs li{width:50%;text-align:center;}
#login .tab_nav .nav-tabs li a{width:100%;color:white;font-size:20px;line-height:60px;background:0;border:0;display:block;}
#login .tab_nav .nav-tabs li a.active{background:url(../images/login_sj.png) no-repeat center bottom;}

#login .tab_con li{position:relative;margin-bottom:10px;}
#login .tab_con li .text{width:100%;padding-left:40px;height:50px;border:1px solid #ddd;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#login .tab_con li .text_icon1{background: url(../images/text_icon1.png) no-repeat 10px 16px white;background-size: 18px 18px;}
#login .tab_con li .text_icon2{background: url(../images/text_icon2.png) no-repeat 10px 16px white;background-size: 18px 18px;}
#login .tab_con li .text_icon3{background:url(../images/text_icon3.png) no-repeat 10px 16px white;background-size: 18px 18px;}
#login .tab_con li .text_icon4{background:url(../images/text_icon4.png) no-repeat 10px 16px white;background-size: 18px 18px;}
#login .tab_con li .submit{width:100%;height:50px;border:0;color:white;background:#fc7203;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display: block;text-align: center;line-height: 50px;}
#login .tab_con li.verification{padding-right:110px;}
#login .tab_con li .button{width:100px;text-align:center;line-height:50px;background:#434343;color:white;position:absolute;right:0;top:0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#login .tab_con li .button.disabled{background:#999;}
#login .other{margin:0 15px 20px 15px;position:relative;}
#login .other p{text-align:center;margin-top:30px;}
#login .other .go_register{color:#fc7203;}
#login .other .forget{position:absolute;right:0;color:#666;}

#login .other_login{margin:0 10px;padding-top:20px;border-top:1px solid #ddd;text-align:center;}
#login .other_login h2{font-size:14px;color:#999;}
#login .other_login p{margin-top:20px;}
#login .other_login a{margin:0 5%;}
#login .other_login img{height: 56px;}

#login .terms{width:100%;padding-bottom:23%;text-align:center;margin-top:20%;}
#login .terms p{font-size:14px;color:#999;}
#login .terms a{color:#fc7203;}
/*--- 订单列表-用户中心 --*/
#my_order .nav{display:table;width:100%;line-height:50px;background:white;text-align:center;margin-bottom:10px;border-bottom:1px solid #eee;}
#my_order .nav a{display:table-cell;font-size:14px;position:relative;bottom:-1px;}
#my_order .nav a.cur{color:#f56928;border-bottom:3px solid #f56928;}
#my_order .cont .box{background:white;padding-bottom:10px;}
#my_order .cont .box .order_status{margin:10px;position:relative;line-height:50px;border-bottom:1px solid #eee;}
#my_order .cont .box .order_status p{font-size:14px;color:#666;}
#my_order .cont .box .order_status p img{height:14px;margin-right:5px;}
#my_order .cont .box .order_status span{font-size:14px;position:absolute;right:10px;top:0;color:#fa6815;}
#my_order .cont .box .order_status span label{color:#666;}
#my_order .cont .box .project{position:relative;padding:10px 10px 10px 110px;display: block;}
#my_order .cont .box .project img{position:absolute;left:10px;top:10px;width:90px;height:64px;}
#my_order .cont .box .project .project_cont{width:100%;}
#my_order .cont .box .project .project_cont h3{font-size:14px;line-height:18px;font-weight:400;}
#my_order .cont .box .project .project_cont span{display:block;font-size:14px;color:#999;line-height:18px;}
#my_order .cont .box .project .project_cont s{margin-left:10px;}
#my_order .cont .box .project .project_cont p{position:relative;top:5px;line-height:18px;font-size:16px;color:#fa6815;font-weight:bold;}
#my_order .cont .box .project .project_cont b{font-size:14px;font-weight:400;margin-right:3px;}
#my_order .cont .box .project .project_cont label{position:absolute;right:0;top:0;font-size:14px;font-weight:400;color:#999;}
#my_order .cont .box .operating{text-align:right;margin:10px 10px 0 10px;padding-top:10px;border-top:1px solid #eee;}
#my_order .cont .box .operating p{text-align:left;color:#999;font-size:14px;}
#my_order .cont .box .operating a{display:inline-block;padding:0 15px;line-height:30px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
#my_order .cont .box .operating a.hollow{border:1px solid #ddd;color:#666;margin-right:10px;}
#my_order .cont .box .operating a.solid{background:#fc7203;color:white;}

/*--- 订单空-用户中心 --*/
#order_air{text-align:center;}
#order_air img{height: 90px;margin-top:15%;}
#order_air p{font-size:16px;margin-top:5%;}
#order_air a{background:#fc7203;color:white;display:inline-block;margin-top:2%;padding:0 35px;line-height:35px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}


/*--- 积分订单详情-用户中心 --*/
#order_details_integral .casedetail_status{position:relative;background:-webkit-linear-gradient(left,#fd8034, #fa544e);color: #f1f1f1;padding: 20px;overflow: hidden;}
#order_details_integral .casedetail_status_top{height:20px;line-height:20px;font-weight:bold;}
#order_details_integral .casedetail_status img{width:70px;position:absolute;right:5%;top:10%;}
#order_details_integral .casedetail_status p{font-size:14px;line-height:20px;margin-top:5px;}
#order_details_integral .casedetail_address{background: #fff;padding: 10px;font-size: 14px;color: #666;overflow:hidden;}
#order_details_integral .casedetail_address a{display:block;overflow: hidden;}
#order_details_integral .casedetail_address img.location{width: 25px;float: left;margin-top: 12px;margin-right:10px;}
#order_details_integral .cs_middle{width:84%;float:left;}
#order_details_integral .cs_middle .v1{color:#333;font-size:16px;margin-bottom:3px;}
#order_details_integral .cs_middle .v2{color:#666;line-height:20px;font-size:14px;}
#order_details_integral .cs_middle .v3{color:#666;font-size:14px;margin-bottom:5px;line-height:18px;}
#order_details_integral .cs_middle .v4{color:#999;line-height:20px;font-size:14px;}
#order_details_integral .cs_right{float:right;width:10px;}
#order_details_integral .cs_right img{width: 8px;margin-top:20px;}

#order_details_integral .order_lists{margin-top:1px;background:#fff;}
#order_details_integral .order_lists ul{padding:0;}
#order_details_integral .order_lists li{position:relative;padding:10px 10px 10px 110px;border-bottom:1px solid #eee;}
#order_details_integral .order_lists li a{display:block;overflow:hidden;}
#order_details_integral .order_lists .order_l{width:90px;position:absolute;left:10px;top:10px;}
#order_details_integral .order_lists img.order_pic{width:90px;height:64px;}
#order_details_integral .order_lists .order_r{}
#order_details_integral .order_lists .order_r p{font-size:14px;color:#333333;}
#order_details_integral .order_lists .order_r .order_gg{color:#999;font-size:12px;margin:5px 0;line-height:15px;}
#order_details_integral .order_lists .order_r .order_bot{font-size:16px;line-height:20px;overflow:hidden;}
#order_details_integral .order_price{float:left;color:#fc7202;font-size:18px;}
#order_details_integral .order_price .order_price_label{font-size:14px;}
#order_details_integral .order_num{float:right;color:#666;}


#order_details_integral .order_tit{height:40px;line-height:40px;color:#333;}
#order_details_integral .casedetail_center{background:#fff;padding:10px;margin-top:5px;color:#666;}
#order_details_integral .casedetail_center ul{padding-top:10px;border-top:1px solid #eee;}
#order_details_integral .casedetail_center li{font-size:14px;margin:5px;overflow:hidden;}
#order_details_integral .operating{padding:0 10px;position:fixed;bottom:0;width:100%;background:white;line-height:50px;text-align:right;}
#order_details_integral .operating a{background:#fc7203;color:white;display:inline-block;padding:0 20px;line-height:35px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}


/*--- 评论-用户中心 --*/
#comment .project{height:100px;position:relative;background:white;padding:10px 10px 10px 100px;display: block;}
#comment .project img{position:absolute;left:10px;top:10;width:80px;height:80px;}
#comment .project h3{font-size:16px;}
#comment .project p{font-size:12px;color:#999;}
#comment .project span{color:#fc7203;font-weight:bold;font-size:20px;}
#comment .project b{font-weight:400;font-size:14px;margin-right:3px;}

#comment .operating{margin-top:10px;background:white;}
#comment .operating .title{line-height:50px;border-bottom:1px solid #ddd;padding:0 10px;}
#comment .operating .star{padding:15px 10px 0 15px;}
#comment .operating .star span{float:left;}
#comment .operating .star ul{float:left;}
#comment .operating .star li{display:inline-block;height:20px;width:20px;margin-right:4px;background:url(../images/star_ico2.png) no-repeat;background-size:100%;}
#comment .operating .star li.active{background-image:url(../images/star_ico1.png);}
#comment .operating .textarea{padding:10px;width:100%;}
#comment .operating .textarea textarea{width:100%;min-height:150px;background:#f8f8f8;border:1px solid #dcdcdc;}

#comment .poto{padding:10px;}
#comment .poto li{float:left;margin-right:15px;margin-bottom:15px;position:relative;}
#comment .poto li .camera{width:80px;height:80px;position:relative;}
#comment .poto li .camera input.file{text-indent:999px;position:absolute;left:0;top:0;width:80px;height:80px;}
#comment .poto li .camera img{width:100%;height:100%;}
#comment .poto li .delete{position:absolute;right:-10px;top:-10px;}
#comment .poto li .delete img{width:20px;height:20px;}

/*--- 兑换成功-用户中心 --*/
#success{}
#success .tip{background:white;padding:20px;}
#success .tip .box{width:290px;margin:0 auto;}
#success .tip img{width:20%;float:left;margin-right:10px;margin-top:-10px;}
#success .tip h2{font-size:20px;color:#333;}
#success .tip p{font-size:14px;color:#999;}

#success .operating{width:100%;padding:20px;text-align:center;background:white;margin-top:1px;}
#success .operating a{display:inline-block;padding:0 20px;margin:0 10px;line-height:30px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
#success .operating .button1{border:1px solid #ccc;color:#333;}
#success .operating .button2{background:#fc7203;color:white;}


/*--- 商品列表-用户中心 --*/
.pro_list{background:white;margin-top:5px;}
.pro_list .title{margin:10px;padding:10px 0;position:relative;border-bottom:1px solid #eee;}
.pro_list .title h2{font-size:16px;color:#333;}
.pro_list .title a{position:absolute;right:10px;top:10px;font-size:12px;color:#999;}
.pro_list .con{background:white;}
.pro_list .cont ul{padding:0 5px;}
.pro_list .cont li{float:left;width:33.33333%;padding:4px;}
.pro_list .cont li a{display:block;}
.pro_list .cont li img{width:100%;min-height:80px;}
.pro_list .cont li p{font-size:12px;height:36px;overflow:hidden;}
.pro_list .cont li b{font-size:14px;color:#fc7203;}
.pro_list .cont li span{font-size:12px;color:#fc7203;}
.pro_list .cont li b{font-size:16px;margin-left:3px;}


/*--- 我的设置-用户中心 --*/
#user_edit{
}
#user_edit .box{background:white;margin-bottom:5px;}
#user_edit .box ul{padding:0 10px;}
#user_edit .box li{}
#user_edit .box li a{display:block;font-size:16px;position:relative;padding:15px 20px 15px 5px;border-bottom:1px solid #eee;}
#user_edit .box img.jt{float:right;height:14px;position:absolute;right:0px;top:50%;margin-top:-7px;}
#user_edit .box .inpdate{
    display: block;
    position: absolute;
    border: none 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
#user_edit .box .user_head{ position:relative; width:50px;height:50px;float:right;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;overflow:hidden;}
#user_edit .box .user_head input.file{text-indent:999px;width: 100%;height: 100%;position:absolute;left:0;top:0;opacity: 0;}
#user_edit .box .user_head img{width:100%;height:100%;}
#user_edit .box span{float:right;font-size:14px;color: #666;}
#select_sex:before{content:'';position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
#user_edit .box h2{font-weight: bold;font-size: 16px;position: relative;padding: 15px 20px 15px 5px;border-bottom: 1px solid #eee;}
#user_edit .quit{position:fixed;bottom:0;left:0;width:100%;}
#user_edit .quit a{font-size:18px;line-height:50px;text-align:center;display:block;background:#fc7203;color:white;}



/*---------------------收货地址列表----------------------*/
#receipt_address_list .cont{}
#receipt_address_list .cont .box{background:white;padding:20px;margin-top:5px;}
#receipt_address_list .cont .box .user_info a{display:block;}
#receipt_address_list .cont .box .user_info h3{line-height:30px;font-size:18px;font-weight:400;color:#666;}
#receipt_address_list .cont .box .user_info span{margin-left:15px;}
#receipt_address_list .cont .box .user_info p{line-height:26px;font-size:14px;color:#999;}
#receipt_address_list .cont .box .operating{}
#receipt_address_list .cont .box .operating .radio{float:left;margin-top:12px;}
#receipt_address_list .cont .box .operating .radio img{width:20px;}
#receipt_address_list .cont .box .operating .button{float:right;color:#999;margin-top:8px;margin-left:5px;border:1px solid #ccc;display:inline-block;padding:0 15px;line-height:28px;-webkit-border-radius:35px;-moz-border-radius:35px;border-radius:35px;}
#receipt_address_list .tc_nav{margin:10px;text-align:center;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#receipt_address_list .tc_nav a{background:#fc7203;color:white;display:block;line-height:46px;font-size:18px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}

/*--- 编辑地址-用户中心 --*/
#edit_address{}
#edit_address .box{background:white;margin-bottom:5px;}
#edit_address .box ul{padding:0 10px;}
#edit_address .box li{font-size:16px;position:relative;padding:15px 20px 15px 5px;border-bottom:1px solid #eee;}
#edit_address .box li a{display:block;/* position: relative; */}
#edit_address .box li .con{position:relative;padding-left:60px;}
#edit_address .box img.jt{float:right;height:14px;position:absolute;right:0px;top:50%;margin-top:-7px;}
#edit_address .box label{position:absolute;left:0;top:2px;}
#edit_address .box input.text{margin-left:15px;border:0;}
#edit_address .box textarea{min-height:120px;width:100%;border:0;}
#edit_address .box span{float:right;font-size:14px;}
#edit_address .box span#trigger_area:after{content:'';width: 100%;height: 100%;top: 0;left: 0;display: block;position: absolute;}
#edit_address .box .common-row{float:right;}
#edit_address .quit{width:100%;padding:10px;}
#edit_address .quit a{font-size:18px;line-height:50px;text-align:center;display:block;background:#fc7203;color:white;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}

/*--- 我的门票-用户中心 --*/
#my_ticket .box{padding:10px;background:white;margin-top:5px;}
#my_ticket .box .title{padding:10px 0;position:relative;border-bottom:1px solid #eee;}
#my_ticket .box .title h2{font-size:16px;color:#333;}
#my_ticket .box .title a{position:absolute;right:10px;top:10px;font-size:12px;color:#999;}
#my_ticket .box .con{background:#fff9f8;margin-top:10px;padding:10px;border:1px dashed #ea8872;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
#my_ticket .box .con li{color:#e74435;font-size:14px;}

/*--- 收藏导航-用户中心 --*/
#collection .nav{display:table;width:100%;line-height:50px;background:white;text-align:center;margin-bottom:10px;border-bottom:1px solid #eee;}
#collection .nav a{display:table-cell;font-size:14px;position:relative;bottom:-1px;}
#collection .nav a.cur{color:#f56928;border-bottom:3px solid #f56928;}

/*--- 收藏空-用户中心 --*/
#collection .collection_air{padding-top:60px;text-align:center;}
#collection .collection_air img{height: 85px;}
#collection .collection_air p{margin-top:30px;font-size:16px;color:#666;}

/*--- 收藏内容-用户中心 --*/
#collection .con{background:white;}
#collection .con li{min-height:95px;padding:10px;border-bottom:1px solid #eee;position:relative;padding-left:120px;}
#collection .con li .pic{position:absolute;left:10px;top:10px;}
#collection .con li .pic img{width:100px;height:71px;}
#collection .con li.shop{min-height:90px;padding-left:160px;}
#collection .con li.shop .pic img{width:140px;}
#collection .con li .con{width:100%;display: block;}
#collection .con li .con h3{font-size:16px;color:#333;}
#collection .con li .con em{position:absolute;right:10px;top:10px;font-size:12px;font-style: normal;}
#collection .con li .con label{font-size:12px;background:#ffe9d2;color:#d60c1a;padding:0 8px;line-height:16px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
#collection .con li .con p{font-size:12px;color:#999;margin-top:5px;}
#collection .con li .con s{margin-left:10px;}
#collection .con li .con span{color:#fc7203;font-size:12px;display:block;margin-top:5px;}
#collection .con li .con b{font-size:16px;margin-left:3px;}
#collection .operating{position:absolute;bottom:15px;right:10px;}
#collection .operating a{font-size:12px;display:inline-block;padding:0 20px;line-height:26px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
#collection .operating .delete{border:1px solid #ddd;color:#333;}
#collection .operating .invalid{color:#666;background:#dcdcdc;}




/*--- 优惠券导航-用户中心 --*/
#coupon .nav{display:table;width:100%;line-height:50px;background:white;text-align:center;margin-bottom:10px;border-bottom:1px solid #eee;}
#coupon .nav a{display:table-cell;font-size:14px;position:relative;bottom:-1px;}
#coupon .nav a.cur{color:#f56928;border-bottom:3px solid #f56928;}

/*--- 优惠券空-用户中心 --*/
#coupon .coupon_air{padding-top:60px;text-align:center;}
#coupon .coupon_air img{height: 94px;}
#coupon .coupon_air p{margin-top:30px;font-size:16px;color:#666;}
#coupon .coupon_air a{background:#fc7203;color:white;display:inline-block;margin-top:2%;padding:0 35px;line-height:35px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}


/*--- 优惠券内容-用户中心 --*/
#coupon .con{}
#coupon .con li{height:90px;position:relative;margin:10px;background:white;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#coupon .con .info{padding:8px 0 0 15px;}
#coupon .con .info h3{font-size:16px;line-height:30px;}
#coupon .con .info p{font-size:12px;color:#999;line-height:18px;}
#coupon .con .info span{font-size:12px;color:#999;line-height:18px;}
#coupon .con .info b{color:#fc7203;}
#coupon .con .info label{color:#666;font-size:12px;}
#coupon .con .info i{font-size:20px;position:relative;top:3px;font-family:宋体;font-style:normal;color:#ccc;}
#coupon .con .cards{position:absolute;right:0;top:0;}
#coupon .con .cards .status_bg{height:90px;}
#coupon .con .cards a.link{display:block;height:90px;width:100%;position:absolute;top:0;right:0;}
#coupon .con .status{position:absolute;top:15px;width:100%;text-align:center;z-index:100;}
#coupon .con .status p{color:#fff;font-size:16px;}
#coupon .con .status label{color:#fff;font-size:12px;}
#coupon .con .status b{color:#fff;font-size:22px;}
#coupon .con .status span{font-size:12px;background:white;line-height:18px;padding:0 10px;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;}
#coupon .con .status em{color:#fff;font-size:12px;font-style:normal;font-weight:bold;display:block;line-height:60px;}
#coupon .con .status .em1{font-size:20px;}
#coupon .con .status .em2{font-size:16px;}
#coupon .con .status .color_gray{color:#666;}
#coupon .con .status .color_orange{color:#fc7203;}
#coupon .con .box_shadow{box-shadow:rgba(0,0,0,0.5) 0em 0.1em 0.3em}
#coupon .con .text_shadow{text-shadow:rgba(0,0,0,0.5) 0em 0.1em 0.3em}


/*--- 商品订单详情 -用户中心 --*/
#order_details_pro .casedetail_status{color: #f1f1f1;padding: 20px;overflow: hidden;}
#order_details_pro .gradient{background:-webkit-linear-gradient(left,#f32321, #ee6514);}/* 渐变色背景 */
#order_details_pro .gradient2{background:-webkit-linear-gradient(left,#929292, #c2bebe);}/* 渐变色背景 */
#order_details_pro .pure{background:#fc7203;}/* 纯色背景 */

#order_details_pro .casedetail_status_top{height:20px;line-height:20px;font-weight:bold;}
#order_details_pro .casedetail_status_top img{float:left;margin-right:5px;height:20px;}
#order_details_pro .casedetail_status p{font-size:14px;line-height:20px;margin-top:15px;}

#order_details_pro .casedetail_address{background: #fff;padding: 10px;font-size: 14px;color: #666;overflow:hidden;}
#order_details_pro .casedetail_address img.location{width: 25px;float: left;margin-top: 12px;margin-right:10px;}
#order_details_pro .cs_middle{width:84%;float:left;}
#order_details_pro .cs_middle .v1{color:#333;font-size:16px;margin-bottom:3px;}
#order_details_pro .cs_middle .v2{color:#666;line-height:20px;font-size:14px;}
#order_details_pro .cs_middle .v3{color:#666;font-size:14px;margin-bottom:5px;line-height:18px;}
#order_details_pro .cs_middle .v4{color:#999;line-height:20px;font-size:14px;}
#order_details_pro .cs_right{float:right;width:10px;}
#order_details_pro .cs_right img{width:10px;margin-top:20px;}

#order_details_pro .order_lists{margin-top:5px;background:#fff;}
#order_details_pro .order_lists .box{background:white;padding-bottom:10px;}
#order_details_pro .order_lists .box .order_status{margin:10px;position:relative;line-height:50px;border-bottom:1px solid #eee;}
#order_details_pro .order_lists .box .order_status p{font-size:14px;color:#666;}
#order_details_pro .order_lists .box .order_status p img{height:14px;margin-right:5px;}
#order_details_pro .order_lists .box .order_status span{font-size:14px;position:absolute;right:10px;top:0;color:#fa6815;}
#order_details_pro .order_lists .box .order_status span label{color:#666;}
#order_details_pro .order_lists .box .project{position:relative;padding:10px 10px 10px 110px;display: block;overflow: hidden;}
#order_details_pro .order_lists .box .project img{position:absolute;left:10px;top:10px;width:90px;height:64px;}
#order_details_pro .order_lists .box .project .project_cont{width:100%;}
#order_details_pro .order_lists .box .project .project_cont h3{font-size:14px;line-height:18px;font-weight:400;}
#order_details_pro .order_lists .box .project .project_cont span{display:block;font-size:12px;color:#999;line-height:18px;}
#order_details_pro .order_lists .box .project .project_cont s{margin-left:10px;}
#order_details_pro .order_lists .box .project .project_cont p{position:relative;top:5px;line-height:18px;font-size:20px;color:#fa6815;font-weight:bold;}
#order_details_pro .order_lists .box .project .project_cont b{font-size:14px;font-weight:400;margin-right:3px;}
#order_details_pro .order_lists .box .project .project_cont label{position:absolute;right:0;top:0;font-size:14px;font-weight:400;color:#999;}
#order_details_pro .order_lists .box .operating{text-align:right;margin:10px 10px 0 10px;padding-top:10px;border-top:1px solid #eee;}
#order_details_pro .order_lists .box .operating p{text-align:left;color:#999;font-size:14px;}
#order_details_pro .order_lists .box .operating a{display:inline-block;padding:0 15px;line-height:30px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
#order_details_pro .order_lists .box .operating a.hollow{border:1px solid #ddd;color:#666;margin-right:10px;}
#order_details_pro .order_lists .box .operating a.solid{background:#fc7203;color:white;}

#order_details_pro .casedetail_center .yhm{width:80%;margin:0 auto;padding:15px 0;}
#order_details_pro .casedetail_center .yhm p{text-align:center;line-height:40px;font-size:16px;font-weight:bold;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
#order_details_pro .casedetail_center .orange_color p{color:#e94335;border:1px solid #f6ccc3;background:#fff9f9;}
#order_details_pro .casedetail_center .gray_color p{color:#888;border:1px solid #ededed;background:#f6f6f6;}
#order_details_pro .order_tit{height:40px;line-height:40px;color:#333;border-bottom:1px solid #eee;}
#order_details_pro .casedetail_center{background:#fff;padding:10px;margin-top:5px;color:#666;}
#order_details_pro .casedetail_center ul{padding-top:10px;}
#order_details_pro .casedetail_center li{font-size:14px;margin:5px;overflow:hidden;}

#order_details_pro .operating{height:50px;padding:0 10px;position:fixed;bottom:0;width:100%;background:white;line-height:50px;}
#order_details_pro .operating p{font-size:14px;color:#333;}
#order_details_pro .operating p b{font-size:14px;font-size:20px;margin-left:3px;display:inline-block;}
#order_details_pro .operating p span{font-size:14px;color:#fc7203;margin-left:5px;}
#order_details_pro .operating a{position:absolute;right:10px;top:8px;background:#fc7203;color:white;display:inline-block;padding:0 20px;line-height:35px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}



/*--- 用户中心首页-用户中心 --*/
#user .user_bg{background:url(../images/user_top_bg.png) no-repeat white;background-size:100%;}
#user .user_bg .user_title{text-align:center;color:#fff;line-height: 50px;font-size: 18px;}
#user .user_info{position:relative;margin:0 10px;margin-top: 15px;background:white;box-shadow:rgba(0,0,0,0.1) 0em 1em 1em;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
#user .user_info .user_head{position:relative;padding:30px 0 0 80px;}
#user .user_info .user_head img{position:absolute;left:15px;top:20px;width:50px;height:50px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
#user .user_info .user_head h3{font-size:14px;color:#333;}
#user .user_info .user_head p{font-size:12px;color:#999;}
#user .user_info .tag{position:absolute;right:0;top:30px;}
#user .user_info .tag a{color:white;font-size:12px;line-height:30px;display:block;padding:0 5px 0 15px;background:-webkit-linear-gradient(left,#ff9c3c, #fb751d);border-top-left-radius: 15px 15px;border-bottom-left-radius: 15px 15px;}
#user .user_info .tag.active a{background: #CCCCCC;}
#user .user_info .user_data{padding:20px 0;position:relative;}
#user .user_info .user_data .line{position:absolute;right:50%;background:#eee;width:1px;height:40px;}
#user .user_info .user_data li{float:left;width:50%;text-align:center;}
#user .user_info .user_data li p{color:#333;}
#user .user_info .user_data li span{color:#999;font-size:12px;}
#user .user_nav{padding:10px;}
#user .user_nav li{float:left;position:relative;width:25%;padding: 15px 5px;text-align:center;}
#user .user_nav li a{display:block;}
#user .user_nav li img{height:40px;}
#user .user_nav li p{font-size:14px;margin-top:10px;}
#user .user_nav li span{min-width:16px;height:16px;font-size:12px;line-height:16px;background:#fc7203;color:white;text-align:center;position:absolute;right:10px;top:10px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}


/*--- 我的评论-用户中心 --*/
#my_comment{}
#my_comment .banner img{width:100%;}
#my_comment .con{}

#my_comment .con .box{background:white;margin-bottom:10px;padding:10px;}
#my_comment .con .box .info{line-height:30px;}
#my_comment .con .box .info p{font-size:12px;float:left;color:#999;}
#my_comment .con .box .info b{color:#fc7203;font-weight:400;}
#my_comment .con .box .info span{font-size:12px;color:#999;float:right;}

#my_comment .con .box .tex{line-height:30px;}
#my_comment .con .box .tex p{font-size:14px;}

#my_comment .con .box .pic{height:100px;margin-bottom:10px;border-bottom:1px solid #eee;}
#my_comment .con .box .pic ul{margin-left:-5px;margin-right:-5px;}
#my_comment .con .box .pic li{float:left;width:25%;padding:5px;}
#my_comment .con .box .pic li img{width:100%;}

#my_comment .con .box .pro{height:70px;position:relative;padding-left:100px;display: block;}
#my_comment .con .box .pro img{width:90px;height:64px;position:absolute;left:0;top:0;}
#my_comment .con .box .pro h3{font-size:16px;}
#my_comment .con .box .pro p{font-size:12px;}
#my_comment .con .box .pro span{font-size:12px;color:#fc7203;}
#my_comment .con .box .pro b{font-size:16px;margin-left:3px;}


/*--- 支付提示 --*/

#payment_tip .tip{background:white;padding:20px;}
#payment_tip .tip img{height: 64px;float:left;margin-right:20px;margin-top:-10px;}
#payment_tip .tip h2{font-size:18px;font-weight:400;color:#333;}
#payment_tip .tip h3{font-size:18px;font-weight:400;color:#333;padding-top:13px;}

#payment_tip .tip p{font-size:14px;color:#999;margin-top:6px;}


#payment_tip .order_tit{padding:0 5px;height:40px;line-height:40px;color:#333;border-bottom:1px solid #eee;}
#payment_tip .order_tit span{font-size:14px;color:#fc7203;}
#payment_tip .order_tit b{font-size:20px;margin-left:3px;}

#payment_tip .casedetail_center{background:#fff;padding:10px;margin-top:5px;color:#666;}
#payment_tip .casedetail_center ul{padding-top:10px;}
#payment_tip .casedetail_center li{font-size:14px;margin:5px;overflow:hidden;}

#payment_tip .operating{width:100%;padding:20px;text-align:center;background:white;margin-top:1px;}
#payment_tip .operating a{display:inline-block;padding:0 20px;margin:0 10px;line-height:30px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
#payment_tip .operating .button1{border:1px solid #ccc;color:#333;}
#payment_tip .operating .button2{background:#fc7203;color:white;}



