
.control12 {
    line-height: 100px;
}

#sqzb {
    margin-top: 30px;
}


#main {
    height: 553px;
    /*width: 912px;*/
    border: 1px solid #5688CB;
    border-top: 0px;
}

#tooles {
    height: 23px;
    background: #5688CB;
    position: relative;
    z-index: 100;
    color: white;
}

#bside_left {
    width: 260px;
    height: 510px;
    padding: 10px 0px 10px 10px;
    float: left;
    overflow: auto;
}

#cur_city, #no_value {
    height: 20px;
    position: absolute;
    top: 3px;
    left: 10px;
}

#cur_city .change_city {
    margin-left: 5px;
    cursor: pointer;
}

#level {
    margin-left: 20px;
}

.logo_img {
    width: 172px;
    height: 23px;
}

.search {
    /*width: 280px;*/
    /*height: 53px;*/
    padding-left: 10px;
    float: left;
    margin-left: 15px;
    margin-right: 30px;
}

.search_t {
    /*width: 200px;*/
    /*height: 18px;*/

    padding: 3px;
    /*margin-top: 13px;*/
    line-height: 20px;
}

.search_c {
    width: 220px;
    float: left;
}

.btn_active {
    /*width: 49px;*/
    /*height: 24px;*/
    line-height: 24px;
    font-size: 14px;
    float: left;
    /*background: url(./img/btn.png);*/
    margin-top: 14px;
    text-align: center;
    cursor: pointer;
}

.btn_active {
    background: url(./img/btn.png) -49px 0px;
}

.poi {
    float: left;
    position: relative;
}

.poi_note {
    /*width: 63px;*/
    line-height: 28px;
    float: left;
}

#poi_cur {

    margin-right: 10px;
    width: 250px;

    float: left;
    text-align: center;
}

#addr_cur {
    width: 260px;
    margin-right: 5px;

    float: left;
    text-align: center;
}

.btn_copy {
    width: 49px;
    height: 24px;
    background: url(../img/btn_cpoy.png) 0px 0px;
    float: left;
}

.already {
    width: 52px;
    line-height: 26px;
    padding-left: 5px;
    float: left;
    color: red;
    display: none;
}

.info_list {
    margin-bottom: 5px;
    cleat: both;
    cursor: pointer;
}

#txt_pannel {
    height: 500px;
}

#citys {
    width: 356px;
    height: 433px;
    padding: 10px;
    border: 2px solid #D6D6D6;
    position: absolute;
    left: 44px;
    top: 20px;
    z-index: 999;
    background: #fff;
    overflow: auto;
    color: black;
}

#citys .city_class {
    font-size: 12px;
    background: #fff;
}

#citys .city_container {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
}

#citys .city_container_left {
    width: 48px;
    float: left;
}

#citys .city_container_right {
    width: 289px;
    float: left;
}

#citys .close {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

#citys .city_name {
    line-height: 20px;
    margin-left: 5px;
    color: #2F82C4;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
}

#curCity {
    margin-right: 5px;
}

.hide {
    display: none;
}

#bside_rgiht {
    /*width:80%;*/
    height: 530px;
    margin-left: 10px;
    border-left: 1px solid #5688CB;
    float: left;
    font-size: 12px;
}

#container {
    width: 100%;
    height: 520px;
    border: 5px solid #fff;
}

#no_value {
    color: red;
    position: relative;
    width: 200px;
}

.bs-chinese-region .nav a:link, .bs-chinese-region .nav a:visited,.bs-chinese-region .nav a:active {
    color: #000000;
}
.bs-chinese-region .nav li a {
    width: 92px;
    height: 32px;
    line-height: 26px;
    text-align: center;
}

.inline .radio,.inline .checkbox{display: inline-block;margin: 0 5px;}
