

/*start page*/

.page{
    width:910px;
    margin:0px auto;
    overflow:hidden;
    zoom:1;
}

/*start header*/
.header{
    overflow:hidden;
    zoom:1;
}
/* start top-menu*/
.top-menu{
    float:right;
}

.top-menu li{
    float:left;
    padding-left:17px;
    height:24px;
    line-height:24px;
    background:url(../img/dot.png) 7px center no-repeat;
}

.top-menu li.first{
    background:none;
}

.top-menu li a{
    color:#727f97;
}
/*end top-menu*/

/* start banner*/
.banner{
    clear:both;
    height:27px;
    padding:16px 0px 10px 10px;
}
/*end banner*/
/*start nav*/
.nav{
    height:32px;
    padding-left:26px;
    overflow:hidden;
    background:url(../img/nav_bar.png) no-repeat;
}

.nav li{
    float:left;
    width:86px;
    height:32px;
    font-size:14px;
    line-height:32px;
    font-weight:bold;
    text-align:center;
    overflow:hidden;
}

.nav li a{
    width:92px;
    height:36px;
    line-height:36px;
    text-align:center;
}

.nav a:link,.nav a:visited,.nav a:active{
    color:#FFF;
}

.nav li:hover a,.nav a:hover,.nav a.active{
    display:block;
    width:92px;
    background:url(../img/nav_hover.png) no-repeat;
    text-decoration:none;
    color:#104 !important;
}
.new{
    width:92px!important;
    background:url(../img/new.png) no-repeat 76px 11px;
}
/*end nav*/
/*end header*/

/*start main*/
.main{
    margin-top:20px;
    overflow:hidden;
    zoom:1;
}
.page_left{
    width:260px;
    margin-right:10px;
    float:left;
    overflow:hidden;
    zoom:1;
}

.page_right{
    width:640px;
    overflow:hidden;
    zoom:1;
    float:left;
}
/*end main*/

/*start footer*/
.footer{
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    overflow:hidden;
    color: #A3A3A3;
}
/*end footer*/
/*end page*/
