@charset "UTF-8";
/*家博会皮肤*/
/*.explosin_banner{background-color: #339900;}*/
.explosin_form h3{color: #336f1d;}
.explosin_form .btn{background: #ff9900;border-color: #ff9900;}
.explosin_form .btn:hover{background-color: #fca82b;border-color: #fca82b;}
.promise{background-color: #eff8ee;background-image: url(../images/img_promise.png);}
.explosin_nav .nav{border-color: #339900; background: #f1ffe9;margin-top: -12px;}
.explosin_nav .nav li a{color: #339900; border-bottom-color: #339900;background-image:url(../images/bg_nav.png)}
.explosin_nav .nav li.li_top a i{border-bottom-color: #336600;}